.opacity-1 {
  opacity: 1 !important;
}
.brand-header {
  width: 100%;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.user-profile-preview-wrapper {
  width: 120px;
  height: 120px;
  background: #e5e5e5;
  border-radius: 50%;
  overflow: hidden;
}

.logo-preview {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
.logo-loader {
  padding: 3rem;
  width: 120px;
  border-radius: 50%;
  height: 120px;
  background: #e5e5e5;
  text-align: center;
  font-size: 30px;
}
.cover-loader {
  text-align: center;
  font-size: 30px;
}

ul.color-list li.color-list-item {
  text-align: center;
  padding: 13px;
  cursor: pointer;
  margin-bottom: 10px;
}
.color-list li.color-list-item i {
  color: #fff;
  opacity: 0;
}
.color-list li.color-list-item.selected-color i {
  color: #fff;
  opacity: 1;
}
img.banner-image {
  max-height: 270px;
  object-fit: cover;
}
img.logo-image {
  border-radius: 50%;
}
.text-red {
  color: #7a0d41;
}
.account-setup .back-link a {
  font-size: 18px;
  font-weight: 600;
  color: #111827;
}
.account-setup .browse-pic .drop-zone {
  padding: 0px;
}
.account-setup .browse-pic .drop-zone label {
  display: contents;
}
.select2-results__options {
  display: grid;
}
ul#select2-tck9-container li button span {
  top: 0px;
  right: auto;
}
span.select2-selection.select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
  background: #f8f8f8;
  border-bottom: solid 1px #a1a1aa;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__rendered {
  background: #fff;
  border-bottom: solid 1px #a1a1aa;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}
.select-product.active {
  background-color: #7a0d41 !important;
  color: #fff !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #888585;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice button {
  margin: 0;
  height: 100%;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice span {
  color: #fff;
}
.btn-custom-primary {
  background-color: #7a0d41;
  color: #fff;
  padding: 5px 20px;
  border: 2px solid #7a0d41;
  border-radius: 3px;
  cursor: pointer;
}
.action-button {
  display: flex;
  justify-content: center;
}
.action-button button {
  max-width: 130px;
  width: 100%;
  margin: 0 0 0 15px;
}
.product-box-content .thumb {
 
  min-height: 176px;
}
.influencer-eshop-page
  .dashboard_container
  .add-product-page
  .dashboard-inner
  .product-section
  .product-box
  .product-box-inner {
  width: 100%;
}
.dashboard_container .right_col .dashboard-inner .product-section .product-box .product-box-inner .product-box-content {
  width: 100%;
}
.dashboard_container .right_col .dashboard-inner .product-section{
  margin-bottom: 0;
}
.dashboard_container .right_col .dashboard-inner .product-section .product-box{
  margin-bottom: 0;
}
.influencer-select-product .right_col .product-section .product-box .product-box-inner {
  width: 100% !important;
}
a.remove-items {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  padding-top: 2px;
}
/* Harish */
a {
  display: inline-block;
}
.dashboard_container .right_col .dashboard-inner .product-section {
  display: inherit;
  margin-bottom: 30px;
}
.remove-items {
  background: #8a0e49;
  position: absolute;
  padding: 5px;
  right: 0;
}
.remove-items i {
  color: #fff !important;
  font-size: 20px;
}

.right_col .page-title a {
  box-shadow: none;
  display: flex;
  align-items: center;
}
.right_col .page-title a span img {
  width: 20px;
  height: 20px;
  margin-top: -2px;
  margin-right: 7px;
}
.user-profile .user-name {
  color: #fff !important;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
}

.personalise-product-list-wrapper {
  padding: 0 24px;
}
.browse-box label,
.logo-preview label {
  cursor: pointer;
}
.top_selling_product {
  margin-top: 24px;
}
.not-found {
  width: 100%;

  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.personalise-product-wrapper .right_col .personalise-product .product-details .form-group .form-control {
  line-height: 20px;
}
.date-picker-field .gj-datepicker i {
  right: 7px;
  top: 8px;
}
a.disabled {
  pointer-events: none;
  cursor: default;
}

/* Pagination */
.right_col .page-selection .pagination {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
}
.right_col .page-selection .pagination .page-item {
  padding: 0px 4px;
}
.right_col .page-selection .pagination .page-item .page-link {
  background: transparent;
  color: #27272a;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  border: none;
  border-radius: 4px;
}
.right_col .page-selection .pagination .page-item .right-arrow {
  background: #e4e4e7 !important;
}
.right_col .page-selection .page-link-active {
  background-color: #fbbf24 !important;
}
/* Pagination */

.sidebar-submenu ul li a {
  padding: 10px 15px 10px 60px;
}
.sidebar-submenu ul li {
  width: 100%;
}
#sidebar-menu .nav.side-menu > li.active > a {
  background: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
  box-shadow: none;
}
.refer-code input{
  width: 100%;
}
/* Profile Page */
#account-settings .profile-wrapper .company-info{
  margin-left: 60px;
}
.account-info-wrapper .user-info-wrapper .user-info .profile-wrapper img{
  overflow: inherit;
}
.not-found i.fa-spinner {
  font-size: 3rem;
}
/* End Profile Page */
.no-change{
  cursor: pointer !important;
}
.loader-otp{
  position: absolute;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #00000036;
}
.loader-otp i{
  top: 40%;
  left: 45%;
  position: absolute;
  font-size: 3rem;
  color: #8A0E49;
}
.loader{
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  background: #00000036;
  right: 0;
}
.loader i{
  top: 50%;
  left: 50%;
  position: absolute;
  font-size: 3rem;
  color: #8A0E49;
}

/* Influencer post story page */
#post-story .right_col .personalise-product .create-eshop-wrapper .eshop-details-wrapper .product-section .product-box .product-box-inner .product-box-content{
  justify-content: flex-start ;
}
#post-story .right_col .personalise-product .create-eshop-wrapper .eshop-details-wrapper .product-images .product-image-list{
  justify-content: flex-start ;
}
ul.product-image-list li {
  margin-right: 11px;
}
li.product-image-list-item{
  position: relative;
}
li.product-image-list-item i{
  display: none;
  position: absolute;
  color: #fff;
  background: #00000030;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.no-product-selected {
  text-align: center;
  padding: 3rem 0;
  border: 2px dashed #c0c0c2;
}
.dashboard_container .right_col .dashboard-inner .product-section .product-box .product-box-inner .product-box-content img{
  max-height: 143px;
  object-fit: cover;
  min-width: 50%;
}
.page-selection {
  margin-bottom: 5rem;
}
.dashboard-inner .product-section .product-box .product-box-inner .box-content span{
  padding: 3px 2px;
}
.earning-paymen-wrapper .earing-list .earning-item-wrapper .item .status-wrapper span:first-child{
  background-image: none;
  /* background: #8A0E49; */
  position: relative;
}
#payment-history .earning-paymen-wrapper .history-earing-list-wrapper .status-wrapper{
  text-align: center;
}
#payment-history .earning-paymen-wrapper .history-earing-list-wrapper .status-wrapper .badge {
  font-size: 11px;
  font-weight: bold;
  line-height: 7px;
  position: absolute;
  right:7px;
  top: 6px;
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
#payment-history .earning-paymen-wrapper .history-earing-list-wrapper .status-wrapper img{
  width: 25px;
  height: 25px;
  margin-top: 6px;
}
/* Influencer post story page */
.earning-paymen-wrapper .page-selection{
  margin-top: 10px;
  margin-bottom: 10px;
}
.notification-item{
  cursor: pointer;
}
.box-content span.commission-label {
  color: #3F3F46 !important;
  background: #fff !important;
}
span.commission-amount{
  background: #fff !important;
  font-weight: 600 !important;
}
/* harish */
@media only screen and (max-width: 1024px) {
  .product-box-content .thumb {
    min-width: 100%;
    min-height: 247px;
  }
}
@media only screen and (max-width: 768px) {
  .product-box-content .thumb {
    min-width: 230px;
    min-height: 247px;
  }
}
@media only screen and (max-width: 425px) {
  .product-box-content .thumb {
    min-width: 247px;
    min-height: 247px;
  }
  .product-box-inner a {
    margin: 0 auto;
  }
}


.account-info-wrapper .user-info-wrapper::before{
    display: none;
}
