.signup-banner {
  display: none;
}

.right_col .page-title {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #18181B;
  box-shadow: 0px -1px 0px 0px #0000001A inset;
}
.right_col .page-title a {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #18181B;
}
.right_col .button-sec {
  display: none;
}

@media screen and (max-width: 1024px) {
  .account-info-wrapper {
    padding: 16px !important;
  }
}
@media screen and (max-width: 768px) {
  .sidebar-submenu {
    padding-left: 68px !important;
  }

  .bank-setup-form {
    margin-top: 0 !important;
    background: #F7F7F7 !important;
    box-shadow: none !important;
    max-width: 100% !important;
  }
  .bank-setup-form h3 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #27272A;
  }
  .bank-setup-form .account-setup .account-form .form-field {
    background: none !important;
    border: 0 !important;
  }

  .right_col {
    padding: 0 !important;
  }
  .right_col .page-title {
    margin: 0px 0 24px !important;
  }

  #subscriptionbtn {
    width: 95%;
    position: fixed;
    bottom: 0;
    left: 12px;
    right: 12px;
    margin: auto;
    height: 48px;
  }

  .signup-page {
    height: 100vh !important;
    overflow-y: hidden;
  }
  .signup-page .login-inner {
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .signup-page .login-inner .login-left {
    width: 100%;
    height: 325px;
    order: unset;
    display: block;
    flex: 0 0 45% !important;
    background-size: contain;
  }
  .signup-page .login-inner .login-right {
    flex: 0 0 50%;
  }
  .signup-page .login-section {
    padding: 16px 0 0 0 !important;
    background: #8A0E49 !important;
  }
  .signup-page .login-section .logo {
    display: none !important;
  }
  .signup-page .login-section .signup-section {
    padding: 32px 16px;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 20px 20px 0px 0px;
  }
  .signup-page .login-section .signup-section h3 {
    font-size: 24px !important;
    margin-bottom: 8px !important;
  }
  .signup-page .login-section .signup-section a button {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #subsshow, #catalog {
    height: 200px;
  }

  .dashboard_container {
    margin-top: 0;
  }

  header .logo .toggle #menu_toggle {
    padding-top: 0;
  }

  .login-form .login-error {
    margin-top: -40px;
  }

  .login {
    padding-top: 0 !important;
    background: #8A0E49;
  }
  .login .container-fluid {
    background-color: #fff;
  }
  .login .container-fluid .back-button {
    margin-top: 0;
    height: 48px;
  }
  .login .container-fluid .back-button #back-button {
    height: 100%;
    font-family: Noto Serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #3F3F46;
    background-image: url("../images/icons/chevron-left.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 32px;
  }
  .login .container-fluid .back-button #back-button img {
    display: none;
  }
  .login .input-field {
    position: relative;
  }
  .login input {
    background-color: #fff !important;
  }
  .login .back-link {
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
  }
  .login .back-link a {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #3F3F46;
    padding: 20px 30px 10px 30px;
  }
  .login .container {
    max-width: 100%;
    padding: 0;
    margin: 0;
    height: 110vh;
  }
  .login .container .login-inner {
    height: 100%;
  }
  .login .container .login-inner .login-right {
    margin: 0;
    height: 100%;
  }
  .login .container .login-inner .login-right .login-section {
    max-width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
    background: #F8F8F8;
    padding: 40px;
  }
  .login .container .login-inner .login-right .login-section .logo img {
    width: 120px;
    height: 123.24px;
  }
  .login .container .login-inner .login-right .login-section .forgot-pass {
    margin-top: 50px;
  }
  .login .container .login-inner .login-right .login-section .input-field {
    margin-bottom: 48px;
  }
  .login .container .login-inner .login-right .login-section .input-field input {
    height: 40px !important;
    padding: 8px;
  }
  .login .footer-login {
    display: none;
  }

  .signup-banner {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8A0E49;
    padding: 16px 0;
  }

  .signup-section .login {
    background: #8A0E49;
  }
  .signup-section .login-section {
    background: #FFFFFF !important;
    border-radius: 20px 20px 0px 0px !important;
  }
  .signup-section .login-section h3 {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 100.5%;
    color: #1F2937;
  }
  .signup-section .login-section p {
    font-size: 16px !important;
    line-height: 150%;
    color: #6B7280;
  }
  .signup-section .logo {
    display: none;
  }

  .top_nav .nav_menu .navbar-right .user-profile {
    display: none !important;
  }
  .top_nav .nav_menu .navbar-right .dropdown {
    display: none;
  }

  .right_col .dashboard-card-outr {
    flex-direction: column;
  }
  .right_col .dashboard-card-outr .dashboard-card {
    margin-bottom: 16px;
    border-radius: 4px;
  }

  .product-section {
    box-shadow: 0px 1px 0px 0px #0000000D inset;
  }
  .product-section .product-box {
    padding: 20px 0px 20px 20px !important;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.06) !important;
    border-radius: 4px !important;
  }

  .influencer-eshop-page .right_col .page-title {
    display: none;
  }
  .influencer-eshop-page .right_col .product-banner {
    padding: 0;
  }
  .influencer-eshop-page .right_col .product-banner .banner-image {
    height: 187px;
    border-radius: 0;
  }
  .influencer-eshop-page .right_col .product-banner .banner-section {
    margin-top: -100px;
    flex-direction: column;
    align-items: center;
  }
  .influencer-eshop-page .right_col .product-banner .banner-section .banner-content {
    justify-content: center;
    align-items: center !important;
  }
  .influencer-eshop-page .right_col .product-banner .banner-section .banner-content p {
    text-align: center;
  }
  .influencer-eshop-page .right_col .product-banner .alert {
    margin: 16px !important;
    align-items: center;
    background: rgba(20, 184, 166, 0.2);
    border: 1px solid #14B8A6;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .influencer-eshop-page .dashboard_container .add-product-page .dashboard-inner .product-banner .banner-section .banner-content .common-button {
    justify-content: space-between !important;
  }

  .influencer-select-product .right_col .product-banner {
    width: 100%;
    height: 136px;
  }
  .influencer-select-product .right_col #banner-carousel {
    width: 100%;
    height: 136px;
  }
  .influencer-select-product .right_col #banner-carousel .banner-details {
    padding-left: 8px;
  }
  .influencer-select-product .right_col #banner-carousel .banner-details p {
    display: none;
  }
  .influencer-select-product .right_col #banner-carousel .carousel-indicators {
    bottom: -48px;
    right: 0;
    left: auto;
    margin-right: 0;
  }

  .product-detail-wrapper .right_col .page-title {
    display: block;
  }
  .product-detail-wrapper .right_col .product-main {
    flex-direction: column;
  }
  .product-detail-wrapper .right_col .product-main .product-detail-cont {
    max-width: 100%;
    padding: 16px;
  }
  .product-detail-wrapper .right_col .product-main .product-specification {
    max-width: 100%;
  }
  .product-detail-wrapper .right_col .product-main .product-specification h2 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #000000;
    padding: 0px 32px;
  }
  .product-detail-wrapper .right_col .product-main .product-specification h3 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 159.96%;
    display: flex;
    align-items: center;
    color: #000000;
    padding: 0px 32px;
  }
  .product-detail-wrapper .right_col .product-main .product-specification .spec-row {
    padding: 0px 32px;
  }
  .product-detail-wrapper .right_col .product-main .product-specification .prod-desc {
    background-color: #fff;
    padding: 16px 32px;
  }
  .product-detail-wrapper .right_col .product-main .product-specification .prod-desc label {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #000000;
  }
  .product-detail-wrapper .right_col .product-main .product-specification .prod-desc p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #1D1F22;
  }
  .product-detail-wrapper .right_col .product-main .product-specification .prod-spec {
    background-color: #fff;
    padding: 16px 32px;
    margin-top: 0;
    border-top: 1px solid #f8f8f8;
  }

  #account-settings .back-link a {
    font-family: Noto Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #18181B;
  }
  #account-settings .account-connections {
    padding: 16px;
  }
  #account-settings .account-connections .account-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #account-settings .account-connections .account-list .account-list-item {
    width: 100%;
    height: 48px;
    background-color: #fff;
    padding: 12px 16px;
    border-radius: 2px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #account-settings .account-connections .account-list .account-list-item a {
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: #3F3F46;
  }

  #account-icons .account-list-item {
    height: 59px;
    border-radius: 4px;
    background: #FFFFFF;
    box-shadow: 0px 10px 15px 0px #0000001A;
  }
  #account-icons .account-list-item > p {
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: #7A0D41;
  }
  #account-icons .account-list-item a {
    display: flex;
    align-items: center;
  }
  #account-icons .account-list-item a img {
    margin-right: 16px;
  }
  #account-icons .active {
    color: #16A34A !important;
  }

  .social-share-item-wrapper {
    display: none;
  }

  .refer-content-box-wrapper {
    padding: 16px 32px;
  }
  .refer-content-box-wrapper .refer-code-wrapper .content p {
    font-family: Airbnb Cereal App;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.09px;
    color: #6B7280;
  }
  .refer-content-box-wrapper .refer-code-wrapper .refer-code {
    background-size: 100% !important;
    position: relative;
  }
  .refer-content-box-wrapper .refer-code-wrapper .refer-code h5 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.14em;
    color: #FFFFFF;
  }
  .refer-content-box-wrapper .refer-code-wrapper .refer-code .ecllipse {
    background: #f8f8f8;
    width: 12px;
    height: 18px;
    border-radius: 50%;
  }
  .refer-content-box-wrapper .refer-code-wrapper .refer-code #ecllipse-1 {
    position: absolute;
    top: -5px;
    left: -5px;
  }
  .refer-content-box-wrapper .refer-code-wrapper .refer-code #ecllipse-2 {
    position: absolute;
    top: -5px;
    right: -5px;
  }
  .refer-content-box-wrapper .refer-code-wrapper .refer-code #ecllipse-3 {
    position: absolute;
    bottom: -5px;
    left: -5px;
  }
  .refer-content-box-wrapper .refer-code-wrapper .refer-code #ecllipse-4 {
    position: absolute;
    bottom: -5px;
    right: -5px;
  }
  .refer-content-box-wrapper .refer-code-wrapper .refer-code img {
    width: 177px;
  }
  .refer-content-box-wrapper .refer-code-wrapper .refer-code #line-1 {
    position: absolute;
    top: 4px;
    left: 14px;
  }
  .refer-content-box-wrapper .refer-code-wrapper .refer-code #line-2 {
    position: absolute;
    bottom: 4px;
    left: 14px;
  }
  .refer-content-box-wrapper .refer-code-wrapper .refer-code-copy-btn {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #A1A1AA;
  }

  .right_col .button-sec {
    display: block;
    margin-bottom: 16px;
  }
  .right_col .button-sec button {
    height: 48px;
  }
  .right_col .button-sec button a {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
  }

  #bank-setup .breadcrumb-wrapper .breadcrumb {
    display: none;
  }
  #bank-setup .dashboard-inner .bank-setup-form {
    max-width: 100%;
    background: transparent;
    box-shadow: none;
    margin: 0;
  }
  #bank-setup .dashboard-inner .bank-setup-form .subscription-title {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #27272A;
  }
  #bank-setup .dashboard-inner .bank-setup-form .account-setup .account-form .form-field {
    background: transparent;
    border: 0px;
  }
  #bank-setup .dashboard-inner .bank-setup-form .account-setup .account-form .form-field label {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #27272A;
  }
  #bank-setup .dashboard-inner .bank-setup-form .account-setup .account-form .form-field input {
    background-color: #fff !important;
  }

  #change-password .login-section {
    background: #f8f8f8;
  }
  #change-password .login-section .logo {
    display: none;
  }
  #change-password .login-section p {
    display: none;
  }
  #change-password .login-section .input-field {
    margin-bottom: 64px;
  }
  #change-password .login-section .input-field input {
    background-color: #fff !important;
  }

  #mobile-verification .login-section {
    padding: 0;
  }
  #mobile-verification .login-section .logo {
    display: none;
  }
  #mobile-verification .login-section p {
    display: none;
  }
  #mobile-verification .login-section .input-field {
    padding: 32px;
  }
  #mobile-verification .login-section .input-field label {
    margin-bottom: 32px;
  }
  #mobile-verification .login-section .input-field input {
    width: 100%;
    height: 46px !important;
    padding: 16px;
    background-color: #fff;
    border: 1px solid #A1A1AA;
    box-sizing: border-box;
    border-radius: 4px;
  }
  #mobile-verification .login-section .bottom-button {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  #mobile-verification .login-section .bottom-button button {
    width: 80%;
  }

  #mobile-verification .login-section .input-field {
    height: auto;
  }
  #mobile-verification .login-section .input-field label {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #27272A;
  }
  #mobile-verification .login-section .input-field .otp-input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  #mobile-verification .login-section .input-field .otp-input input {
    width: 40px;
    height: 40px;
  }
  #mobile-verification .login-section .input-field .no-account {
    width: 100%;
  }

  #payment-history .page-title .breadcrumb {
    display: none;
  }
  #payment-history .earning-paymen-wrapper {
    background: #f8f8f8;
  }
  #payment-history .earning-paymen-wrapper .earning-edit-btn-wrapper {
    display: none;
  }
  #payment-history .earning-paymen-wrapper h4 {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
  }
  #payment-history .earning-paymen-wrapper .earning-item-wrapper {
    height: 76px;
  }

  #post .product-section {
    margin-top: 0;
    box-shadow: none;
    margin-bottom: 100px;
  }
  #post .product-section .toggle-link {
    margin: 0 !important;
  }
  #post .product-section .toggle-link .nav .nav-item a {
    padding: 0px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #27272A;
  }
  #post .product-section .toggle-link .toggle-link-active {
    border-bottom: 4px solid #FFC300;
    border-radius: 1px;
    opacity: 1 !important;
  }
  #post .product-section .product-box {
    display: none;
  }
  #post .post-active {
    display: block !important;
  }
  #post .common-button {
    padding: 16px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    background: #fff;
    left: 0;
    right: 0;
    width: 100% !important;
  }
  #post .common-button .purple-btn {
    max-width: 45%;
    height: 48px;
    margin-left: 0;
  }
  #post .common-button .white-bttn {
    max-width: 45%;
    height: 48px;
    border-radius: 4px;
  }

  #post-story .right_col {
    margin-top: 64px;
  }
  #post-story .right_col .page-title {
    box-shadow: none;
  }
  #post-story .right_col .page-title a {
    box-shadow: none;
  }
  #post-story .right_col .personalise-product .create-eshop-wrapper {
    width: 100%;
    padding: 16px;
    margin-top: 0px;
  }
  #post-story .right_col .personalise-product .create-eshop-wrapper .eshop-details-wrapper {
    width: 100%;
    margin-bottom: 100px;
  }
  #post-story .right_col .personalise-product .create-eshop-wrapper .eshop-details-wrapper .product-section {
    max-width: 100%;
    display: grid !important;
  }
  #post-story .right_col .personalise-product .create-eshop-wrapper .eshop-details-wrapper .product-section .product-box {
    max-width: 100%;
    background-color: transparent;
    box-shadow: none;
    padding: 0 !important;
  }
  #post-story .right_col .personalise-product .create-eshop-wrapper .eshop-details-wrapper .product-section .product-box .product-box-inner {
    padding-right: 0;
  }
  #post-story .right_col .personalise-product .create-eshop-wrapper .eshop-details-wrapper .product-section .product-box .product-box-inner .product-box-content {
    position: relative;
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  #post-story .right_col .personalise-product .create-eshop-wrapper .eshop-details-wrapper .product-section .product-box .product-box-inner .product-box-content img {
    width: 50%;
    height: auto;
  }
  #post-story .right_col .personalise-product .create-eshop-wrapper .eshop-details-wrapper .product-section .product-box .product-box-inner .product-box-content .box-content {
    padding: 16px 8px;
  }
  #post-story .right_col .personalise-product .create-eshop-wrapper .eshop-details-wrapper .product-section .product-box .product-box-inner .product-box-content .product-rating {
    width: 44px;
    height: 18px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    right: 50%;
    top: 70%;
    border-radius: 2.14892px 0px 0px 2.14892px;
  }
  #post-story .right_col .personalise-product .create-eshop-wrapper .eshop-details-wrapper .product-section .product-box .product-box-inner .product-box-content .product-rating .rating-title {
    font-style: normal;
    font-weight: 600;
    font-size: 12.8935px;
    line-height: 140%;
    display: flex;
    align-items: center;
    letter-spacing: -0.053792px;
    color: #111827;
  }
  #post-story .right_col .personalise-product .create-eshop-wrapper .eshop-details-wrapper .product-section .product-box .product-box-inner .product-box-content .product-rating .rating-star img {
    width: 10px;
    height: 10px;
  }
  #post-story .right_col .personalise-product .create-eshop-wrapper .eshop-details-wrapper .product-images {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  #post-story .right_col .personalise-product .create-eshop-wrapper .eshop-details-wrapper .form-field-full {
    height: auto;
  }
  #post-story .right_col .personalise-product .create-eshop-wrapper .eshop-details-wrapper .select-color {
    width: 100%;
    display: grid !important;
  }
  #post-story .right_col .personalise-product .create-eshop-wrapper .eshop-details-wrapper .select-color .color-list {
    width: auto;
  }
  #post-story .right_col .personalise-product .create-eshop-wrapper .eshop-details-wrapper .common-button {
    justify-content: flex-start;
  }
  #post-story .right_col .personalise-product .create-eshop-wrapper .eshop-details-wrapper .common-button .white-bttn {
    width: 105px;
    height: 40px;
    border-radius: 4px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #7A0D41;
  }
  #post-story .right_col .personalise-product .create-eshop-wrapper .eshop-details-wrapper .form-field .multi-select-options button {
    display: flex;
    justify-content: space-between;
  }
  #post-story .right_col .personalise-product #post-button {
    padding: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    background: #fff;
    left: 0;
  }
  #post-story .right_col .personalise-product #post-button .purple-btn {
    max-width: 45%;
    height: 48px;
    margin-left: 0;
    margin-top: 0;
  }
  #post-story .right_col .personalise-product #post-button .white-bttn {
    max-width: 45%;
    height: 48px;
    border-radius: 4px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #7A0D41;
    padding: 9px 48px;
  }

  #preview-story .dashboard_container {
    padding-top: 64px;
  }
  #preview-story .dashboard_container .page-title {
    box-shadow: none;
  }
  #preview-story .dashboard_container .page-title a {
    box-shadow: none;
  }
  #preview-story .dashboard_container .personalise-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }
  #preview-story .dashboard_container .personalise-product .preview-content {
    width: 351px;
    height: 666px;
    position: relative;
  }
  #preview-story .dashboard_container .personalise-product .preview-content .preview-text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #FB923C;
    position: absolute;
    left: 0;
    bottom: 48px;
    z-index: 10;
    padding: 16px;
  }
  #preview-story .dashboard_container .personalise-product #preview-button {
    padding: 16px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 50;
    background: #fff;
    text-align: center;
  }
  #preview-story .dashboard_container .personalise-product #preview-button .white-bttn {
    width: 90%;
    padding: 9px 0px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #7A0D41;
    border-radius: 4px;
  }

  #schedule-story .form-input-field {
    padding-left: 0;
  }
  #schedule-story .form-input-field .radio-input {
    flex-direction: column;
    align-items: flex-start;
  }
  #schedule-story .form-input-field .radio-input div {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  #schedule-story .form-field .multi-select-options button {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #27272A;
  }

  #account-settings .profile-wrapper {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #account-settings .profile-wrapper #logo-feature-img {
    display: none;
  }

  #profile-interest .account-cont {
    padding: 0;
  }
  #profile-interest .account-cont .form-check {
    padding: 12px 24px 12px 16px;
    height: 46px;
    background-color: #fff;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
  }
  #profile-interest .account-cont .form-check label {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #3F3F46;
  }
  #profile-interest .account-cont .form-check input {
    position: absolute;
    right: 16px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #999999;
  }
  #profile-interest .account-cont .common-button {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0px 16px;
    justify-content: center;
    position: fixed;
    bottom: 0;
  }
  #profile-interest .account-cont .common-button .white-bttn {
    max-width: 30%;
    height: 48px;
    border-radius: 4px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.87);
  }
  #profile-interest .account-cont .common-button .purple-btn {
    max-width: 70%;
    height: 48px;
    border-radius: 4px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
  }

  #notification .back-link {
    margin-bottom: 16px;
    box-shadow: 0px -1px 0px 0px #0000001A inset;
  }
  #notification .noti-section {
    width: 100%;
    height: 75px;
    padding: 10px 16px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    box-shadow: 0px -1px 0px 0px #00000026 inset;
  }
  #notification .noti-section h1 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #27272A;
  }
  #notification .noti-section p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #27272A;
    opacity: 0.5;
    padding-top: 8px;
  }

  header {
    flex-direction: row-reverse;
    z-index: 12;
    justify-content: flex-end;
  }
  header .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: -100px;
  }
  header .logo a {
    display: block;
  }
  header .logo-toggle {
    margin: 0;
    justify-content: space-between;
  }
  header .logo-toggle a {
    width: 100%;
    text-align: center;
  }
  header .top_nav {
    width: auto;
  }

  .left_col {
    z-index: 12;
  }
  .left_col #sidebar-menu {
    padding-top: 40px;
    overflow: scroll;
  }
  .left_col .drop-down-itme a {
    padding-left: 32px !important;
  }

  .right_col {
    margin-left: 0px !important;
    width: 100% !important;
  }

  .setup-progress {
    display: none;
  }

  #step2 .form-field {
    background-color: #f8f8f8;
    margin-bottom: 0px;
  }
  #step2 .form-field label {
    background-color: #f8f8f8;
    margin-top: 30px;
  }
  #step2 .form-field select {
    background-color: #fff;
  }

  .dashboard_container .right_col .dashboard-inner .dashboard-card-outr {
    grid-template-columns: 1fr;
    padding: 0 16px !important;
  }
  .dashboard_container .right_col .dashboard-inner .dashboard-card-outr .dashboard-card {
    margin-right: 0px;
    margin-left: 0px;
  }
  .dashboard_container .product-section {
    padding: 0 16px !important;
    box-shadow: none;
    margin-top: 32px;
  }
  .dashboard_container .product-section .product-box {
    margin-bottom: 32px;
  }
  .dashboard_container #selling-products, .dashboard_container #recent-orders {
    width: 100%;
    flex: 0 0 100%;
  }

  .business-content-wrapper {
    padding: 0 16px !important;
  }
  .business-content-wrapper .dashboard-inner .dashboard-card-outr .imagesubs {
    margin: 0 0 16px 0 !important;
  }

  .subscription-wrapper {
    display: block;
  }
  .subscription-wrapper .btn-wrapper {
    margin-bottom: 16px;
  }
  .subscription-wrapper .btn-wrapper button {
    width: 49.55%;
  }
  .subscription-wrapper .sub-des-wrapper {
    margin-left: 0px;
    margin-bottom: 32px;
  }

  #subscription, #subscriptionannualy {
    padding: 15px 0 0 0 !important;
  }

  .catalog-page {
    padding: 0 16px !important;
  }
  .catalog-page .select-top {
    display: block;
  }
  .catalog-page .select-top:first-child {
    display: flex;
  }
  .catalog-page .select-top .search-panel {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .catalog-page .select-top .button-catalog #price {
    margin-left: 0px;
  }
  .catalog-page .select-top .button-catalog select {
    margin-left: 0px;
  }

  #myTab {
    display: grid;
  }

  .business-graph {
    overflow: scroll;
  }

  .account-info-wrapper {
    border-radius: 0 !important;
    padding: 16px !important;
    margin: 0 !important;
    height: 100%;
    box-shadow: none !important;
  }
  .account-info-wrapper .user-info-wrapper {
    padding-right: 0 !important;
  }
  .account-info-wrapper .user-info-wrapper .edit-btn-wrapper {
    width: 100%;
  }

  .influencer-pages-content-wrapper .logo {
    width: 100% !important;
    display: block !important;
  }
  .influencer-pages-content-wrapper .dashboard-card-outr {
    grid-template-columns: 1fr !important;
    padding: 0 16px !important;
  }
  .influencer-pages-content-wrapper .dashboard-card-outr .dashboard-card {
    margin-bottom: 32px !important;
    min-height: 150px;
  }
  .influencer-pages-content-wrapper .dashboard-card-outr .dashboard-card:last-child {
    margin-bottom: 0px !important;
  }
  .influencer-pages-content-wrapper .product-section {
    margin-top: 0px !important;
  }
  .influencer-pages-content-wrapper .product-section .product-box {
    padding: 0px !important;
    margin: 0px !important;
    box-shadow: none !important;
  }
  .influencer-pages-content-wrapper .product-section .top_selling_product {
    box-shadow: none !important;
  }
  .influencer-pages-content-wrapper .product-section .top_selling_product .product-item {
    width: 100%;
    max-width: 100%;
    flex: 100%;
    padding: 0px !important;
  }
  .influencer-pages-content-wrapper .toggle img {
    overflow: visible;
    z-index: 1;
  }
  .influencer-pages-content-wrapper .toggle + a {
    text-align: center;
  }
  .influencer-pages-content-wrapper .toggle + a img {
    margin-left: -38px;
  }
  .influencer-pages-content-wrapper .product-list .product-box-inner {
    width: 50%;
    flex: 50%;
    max-width: 50%;
    padding: 0px;
  }
  .influencer-pages-content-wrapper .product-list .product-box-inner:nth-child(even) {
    padding-left: 3.5px;
  }
  .influencer-pages-content-wrapper .product-list .product-box-inner:nth-child(odd) {
    padding-right: 3.5px;
  }
  .influencer-pages-content-wrapper .product-main {
    padding: 0 16px !important;
  }
  .influencer-pages-content-wrapper .product-detail-cont {
    padding: 0px !important;
  }
  .influencer-pages-content-wrapper .product-detail-cont .action-button {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background: #ffff;
    z-index: 999;
    left: 0;
    right: 0;
    padding-bottom: 16px;
    padding-top: 16px;
  }
  .influencer-pages-content-wrapper .product-specification {
    padding-bottom: 110px;
  }
  .influencer-pages-content-wrapper .product-specification .spec-row, .influencer-pages-content-wrapper .product-specification h3, .influencer-pages-content-wrapper .product-specification #product-title {
    display: block !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .influencer-pages-content-wrapper .product-specification #product-title {
    margin-top: 16px;
  }
  .influencer-pages-content-wrapper .product-filter .input-group {
    flex-wrap: inherit;
  }
  .influencer-pages-content-wrapper .product-filter .input-group .input-group-prepend .input-group-text {
    border: none !important;
  }
  .influencer-pages-content-wrapper .create-eshop-wrapper.mb-5 {
    margin-top: -95px !important;
  }
  .influencer-pages-content-wrapper .create-eshop-wrapper {
    display: block !important;
  }
  .influencer-pages-content-wrapper .create-eshop-wrapper .eshop-logo-wrapper {
    width: 100% !important;
    border-right: none !important;
    border-bottom: 1px solid #E4E4E7;
    margin-bottom: 40px;
    padding-bottom: 40px;
  }
  .influencer-pages-content-wrapper .personalise-product {
    padding: 16px !important;
    width: 100% !important;
  }
  .influencer-pages-content-wrapper .eshop-branding-wrapper .right_col .image-size {
    display: none !important;
  }
  .influencer-pages-content-wrapper .eshop-branding-wrapper .right_col .create-eshop-wrapper .eshop-details-wrapper {
    width: 100% !important;
    margin-left: 0;
    margin-bottom: 50px;
  }
  .influencer-pages-content-wrapper .eshop-branding-wrapper .right_col .create-eshop-wrapper .eshop-details-wrapper .form-group {
    display: block !important;
  }
  .influencer-pages-content-wrapper .eshop-branding-wrapper .right_col .create-eshop-wrapper .eshop-details-wrapper .form-group label {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #27272A;
  }
  .influencer-pages-content-wrapper .eshop-branding-wrapper .right_col .create-eshop-wrapper .eshop-details-wrapper .form-group input {
    height: 48px;
  }
  .influencer-pages-content-wrapper .eshop-branding-wrapper .right_col .create-eshop-wrapper .eshop-details-wrapper .form-group input, .influencer-pages-content-wrapper .eshop-branding-wrapper .right_col .create-eshop-wrapper .eshop-details-wrapper .form-group textarea, .influencer-pages-content-wrapper .eshop-branding-wrapper .right_col .create-eshop-wrapper .eshop-details-wrapper .form-group select {
    width: 100% !important;
    border: 0;
    border-bottom: 1px solid #A1A1AA;
    border-radius: 0;
    padding: 8px;
  }
  .influencer-pages-content-wrapper .eshop-branding-wrapper .right_col .create-eshop-wrapper .eshop-details-wrapper .form-group input:focus, .influencer-pages-content-wrapper .eshop-branding-wrapper .right_col .create-eshop-wrapper .eshop-details-wrapper .form-group textarea:focus, .influencer-pages-content-wrapper .eshop-branding-wrapper .right_col .create-eshop-wrapper .eshop-details-wrapper .form-group select:focus {
    border-bottom: 1px solid #7A0D41;
  }
  .influencer-pages-content-wrapper .eshop-branding-wrapper .right_col .create-eshop-wrapper .eshop-details-wrapper .form-group .color-list {
    width: 100% !important;
  }
  .influencer-pages-content-wrapper .eshop-branding-wrapper .right_col .create-eshop-wrapper .eshop-details-wrapper .form-group .color-list .color-list-item {
    width: 40px !important;
    height: 40px !important;
  }
  .influencer-pages-content-wrapper #main-wrappper {
    margin-left: 0px !important;
  }
  .influencer-pages-content-wrapper #main-wrappper #account-icons .account-list {
    display: block !important;
  }
  .influencer-pages-content-wrapper #main-wrappper #account-icons .account-list .account-list-item {
    width: inherit !important;
  }
  .influencer-pages-content-wrapper #mobile-verification {
    margin-left: 0px !important;
  }
  .influencer-pages-content-wrapper #mobile-verification .breadcrumb-wrapper {
    margin-bottom: 0 !important;
  }
  .influencer-pages-content-wrapper #mobile-verification .container {
    display: block !important;
  }
  .influencer-pages-content-wrapper #mobile-verification .container .login-inner #verificationFormSection {
    background: #F8F8F8;
  }
  .influencer-pages-content-wrapper #mobile-verification .login-section {
    margin-top: 0px !important;
    width: 100% !important;
    box-shadow: none !important;
  }
  .influencer-pages-content-wrapper #mobile-verification .login-section .bottom-button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -36px;
  }
  .influencer-pages-content-wrapper #mobile-verification .login-section .bottom-button .verified-btn {
    width: 70px;
  }
  .influencer-pages-content-wrapper #mobile-verification .logo {
    display: none !important;
  }
  .influencer-pages-content-wrapper #mobile-verification .input-field {
    padding: 0px !important;
    position: relative;
  }
  .influencer-pages-content-wrapper .add-product-page .product-details {
    width: 100% !important;
  }
  .influencer-pages-content-wrapper .add-product-page .px-4 {
    margin-top: 64px !important;
    padding-right: 0px !important;
  }
  .influencer-pages-content-wrapper .add-product-page .product-specification {
    padding: 0 16px;
  }
  .influencer-pages-content-wrapper .user-profile .user-name {
    color: #18181B !important;
  }
}
@media screen and (min-width: 990px) and (max-width: 1300px) {
  .account-info-wrapper {
    padding: 32px !important;
  }
}
@media screen and (min-width: 750px) and (max-width: 1060px) {
  .account-info-wrapper .user-info-wrapper .user-info .profile-wrapper .company-info {
    margin-left: 25px !important;
  }
}

/*# sourceMappingURL=mobile-view.css.map */
