*{
font-family: 'Source Sans Pro', sans-serif;
color: #27272A;
font-size: 14px;

}
div,h1,h2,h3,h4,h5,h6,p,a,span, label{
    margin: 0px;
}

.button-sec {
    button {
    border: none;
    background: $default-color;
    color: #fff;
    display: inline-block;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
        a {
    background: #7A0D41;
    color: #fff;
    display: inline-block;
   
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
}
    }

    &.right-align-btn{
        text-align: right;
    }
}


.welcome-screen {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    .button-sec {
        margin: 75px 0 0 0;
    }
}

.col-md-3.left_col {
    background: #fff;
}

.purple-btn {
    padding: 9px 18px !important;
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    font-weight: 500;
    max-width: 100%;
    width: 100%;
    border: none;
    margin: 20px 0 0 0;
    background: #7A0D41;
    box-shadow: 0px 4px 8px rgba(138, 14, 73, 0.16);
    border-radius: 4px;

    &:hover{
        opacity: .9;
    }

    &.white-bttn {
        margin: 0 !important;
        border: solid 1px #7A0D41 ;
        color: #7A0D41 ;
        background: #fff ;
    }
}

.white-bttn {
    margin: 0 !important;
    border: solid 1px #7A0D41 ;
    color: #7A0D41 ;
    background: #fff ;
}
.b-none{
    border: none !important;
}

.table-responsive .dataTables_length, .table-responsive .dataTables_filter, .table-responsive .dataTables_info, .table-responsive .dataTables_paginate{
    display: none;
}


.search-panel input::-webkit-input-placeholder { /* Edge */
    color: #3F3F46;
  }
  
  .search-panel input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #3F3F46;
  }
  
  .search-panel input::placeholder {
    color: #3F3F46;
  }

  td.green-txt button {
    color: #27AE60;
    background: rgba(39, 174, 96, 0.1);
    border-radius: 2px;
    padding: 3px 10px;
    border: none;
}

td .actions button , td .actions a{
    margin: 0 3px;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
ul.pagination {
  margin:0;

  li.paginate_button{

  &.active a {
    background: #FBBF24 !important;
    display: inline-block;
    color: #333;
    padding: 5px 10px !important;
    height: 25px;
    margin-top: 2px;
}

a{
    color: #333;  
    padding: 5px 12px !important;
}
}
}
}



.form-field{
    max-width: 45%;
    flex: 0 0 45%;
    margin: 0 10px 30px;

    @media screen and (max-width: 1024px){
        max-width: 47%;
        flex: 0 0 47%;
    }

    @media screen and (max-width: 767px){
        max-width: 100%;
        flex: 0 0 100%;
        margin: 0 0 30px;
    }

    label{
        width: 100%;
        color: #27272A;
        font-size: 14px;
        font-weight: 600;
    }
    input{
        width: 100%;
        background: #F8F8F8;
        border-bottom: solid 1px #A1A1AA;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 8px;
    }

    select{
        width: 100%;
        background: #F8F8F8;
        border-bottom: solid 1px #A1A1AA;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 8px;
    }

    textarea{
        width: 100%;
        background: #F8F8F8;
        border-bottom: solid 1px #A1A1AA;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 8px;
        height: 130px;
        resize: none;
    }

}


.form-field-full{
    flex: 100%;
    max-width: 100%;
    margin: 0 0 15px 0;

    label{
        width: 100%;
        color: #27272A;
        font-size: 14px;
        font-weight: 600;
    }
    input{
        width: 100%;
        background: #fff;
        border-bottom: solid 1px #A1A1AA;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 8px;
    }

    select{
        width: 100%;
        background: #fff;
        border-bottom: solid 1px #A1A1AA;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 8px;
    }

    textarea{
        width: 100%;
        background: #fff;
        border-bottom: solid 1px #A1A1AA;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 8px;
        height: 90px;
        resize: none;
    }


    &.specification-sec {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        justify-content: space-between;
        .field-inner {
            width: 80%;
            margin-bottom: 16px;
        }
        button{
            background: #333;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            padding: 8px 20px;
            margin: 0;
            border: none;
            border-radius: 4px;
        }
    }
}

.common-button{
display: flex;
justify-content: flex-end;

button{
    max-width: 130px;
    width: 100%;
    margin: 0 0 0 15px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;    
    // color: #FFFFFF;
}
}


.red-txt{
    color: #EB5757;
    font-size: 13px !important;
    font-weight: normal;
    border-radius: 2.14892px;
    padding: 3px 10px;
    background: rgba(235, 87, 87, 0.1);
border: 0.5px solid #EB5757;
}

.green-txt{
    color: #27AE60;
    font-size: 13px !important;
    font-weight: normal;
    padding: 3px 10px;
    background: rgba(39, 174, 96, 0.1) !important;
    // border: 0.5px solid #27AE60;
    border-radius: 2px;
    text-align: center;
}

.blue-txt{
    color: #4AB3FB;
    font-size: 13px !important;
    font-weight: normal;
    padding: 3px 10px;
    background: rgba(74, 179, 251, 0.1);
    border-radius: 2px;
    text-align: center;
}

.orange-txt{
    color: #FFB800;
    font-size: 13px !important;
    font-weight: normal;
    padding: 3px 10px;
    background: rgba(255, 184, 0, 0.1);
    border-radius: 2px;
    text-align: center;
}
.container-fluid  > .full-width-back-btn {
    margin-left: -15px;
    margin-right: -15px;
}
.full-width-back-btn{
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 16px;
    .page-back-btn{
       
        display: inline-block;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: #111827;
        text-decoration: none;
        font-family: "Noto serif";
        i{
         margin-right: 8px;   
        }
    }
}

.not-found{
    padding: 70px 0;
    h4{
        font-size: 20px;
    }
}
.earning-paymen-wrapper{
    .col-md-12.text-center{
        padding: 70px 0;
        h3{
            font-size: 14px;
            
        }
    }
}
.modal{
    .modal-dialog{
        max-width: 370px;
        .modal-content{
            border: none;
            padding: 18px;
            .modal-header{
                padding: 0px;
                border: none;
                button{
                    opacity: 1;
                    height: 10px;
                    width: 10px;
                    margin: 0px;
                }
              
            }
            .modal-body{
                padding: 0px;
                margin-bottom: 35px;
                .title{
                    margin-top: 8px;
                    margin-bottom: 16px;
                    h4{
                        font-weight: 600;
                        font-size: 17px;
                        line-height: 21px;
                        color: #000000;
                    }
                }
                p{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 18px;
                    color: #000000;
                     opacity: 0.5;
                }
            }
            .modal-footer{
                border: none;
                padding: 0px;
                display: flex;
                justify-content: flex-end;
                button{
                    padding: 10px 35px;
                    margin: 0px;
                    border-radius: 4px;
                    
                }
                .close-btn{
                    color: #7A0D41;
                    background-color: transparent;
                }
                .purple-btn{
                    margin-left: 16px;
                    max-width: 118px;
                }
            }
        }
    }
}

.dashboard-card-status{
    .dashboard-card-outr{
        padding: 0 24px !important;
        .dashboard-card{
            margin: 0 16px;
            &:first-child{
                margin-left: 0px;
            }
          &:last-child{
                margin-right: 0px;
            }
            .card-flex{
                h3{
                    font-family: Source Sans Pro !important;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 150%;
                    color: #3F3F46;
                }
            }
        }
        .common-button{
            a{
                button{
                    font-family:'Inter', sans-serif !important;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 150%;
                }
            }
        }
    }
   
}
.product-box-content{
    box-shadow: none !important;
    .box-content{
        span{
            padding: 1px 4px !important;
            border-radius: 2.14892px !important;
        }
    }
}
.modal-footer {
    .purple-btn{
        margin-top: 0px !important;
    }
}

.subscription-card{
    border:1px solid #fff;
}
#subscription{
    > a{
        margin:  0 16px ;
        &:first-child{
            margin-left: 0px;
        }
      &:last-child{
            margin-right: 0px;
        }
        .subscription-card{
            margin: 0px !important;
            border:solid 1px #fff;
            .top-row {
                height: 28px;;
            }
        }
    }
}
.table-responsive{
    tr{
        td{
            a{
                display: flex;
                img{
                    margin-left: 8px;
                }
            }
            .actions{
                a{
                    display: inline-block;
                }
            }
        }
    }
}


.business-page-content-wrapper{
        .product-additional-image{
            img:not([src]){
                display: none;
              }
    }
}
#blah:not([src]){
    display: none;
}

#productMmodal{
    .modal-dialog{
        max-width: 90%;
       overflow: hidden;

       
        .modal-content{
            padding-top:32px ;
            background-color: #f8f8f8;
            max-height: calc(100vh - 64px);
            overflow-y: auto;
            border-radius: 0;
        }
        // .close-btn{
        //     position: absolute;
        //     z-index: 1;
        //     right: 0px;
        //     top: 4px;
        //    border: none;
        //     width: 24px;
        //     height: 24px;
        //     display: flex;
        //     align-items: center;
        //     background: #111827;
        //     border-radius: 50%;
        //     font-size: 20px;
        //     opacity: 0.7;
        //     transition: 0.2s;
        //     color: #fff;
        //     &:hover{
        //         opacity: 1;
        //         transition: 0.2s;
        //     }
        
        // }
        .modal-footer-wrapper{
            position: fixed;
            bottom: 0;
            
            width: 100%;
            background: #fff;
            padding: 10px 20px;
            left: 0;
            .btn-wrapper{
                display: flex;
                position: relative;
                justify-content: flex-end;
                .modal-btn{
                    padding: 10px 38px;
                    font-family: Inter;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 150%;
                    align-items: center;
                    text-align: center;
                    border: none;
                    color: #FFFFFF;
                    margin: 0px;

                }
                .continue-btn{
                    background: #7A0D41;
                    border-radius: 4px;
                    margin-right: 10px;
                    border: 1px solid #7A0D41;
                }
                .close-btn{
                    border: 1px solid #7A0D41;
                    box-sizing: border-box;
                    border-radius: 4px;
                    background-color: #fff;
                    color: #7A0D41;
                }
            }
        }
    }

}
.select-story-btn{
    background-color: #fff !important;
}
.modal-product-wrapper{
    padding-bottom: 50px;
    .product-wrapper{
        margin-bottom: 16px;
        padding-left: 8px !important;
        padding-right: 8px !important;
        .product-itme{
            display: flex;
            background: #FFFFFF;
            border-radius: 8px;
            overflow: hidden;
            .product-img-wrapper{
                width: 50%;
                display: flex;
                position: relative;
                .img-wrapper{
                    width: 100%;
                    height: 145px;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        
                    }
                }
                .rating-wrapper{
                    position: absolute;
                    right: 0;
                    top: 107px;
                    padding: 3px;
                    background: #FFFFFF;
                    border-radius: 2.14892px 0px 0px 2.14892px;
                    .rating-title{
                        font-family: Inter;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12.8935px;
                        line-height: 140%;
                         color: #111827;
                         margin-right: 2px;
                    }
                    // .rating-star{
                    //     height: 11px;
                    //     width: 11px;
                    //     overflow: hidden;
                    //     img{
                    //         width: 100%;
                    //         height: 100%;
                    //         object-fit: cover;
                    //     }
                    // }
                }
            }
            .product-detail-wrapper{
                width: 50%;
                padding-left:13px ;
                padding-right: 8px;
                // position: relative;
                .product-name{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15.0424px;
                    line-height: 150%;
                    color: #4B5563;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    text-align: left;
                    height: 44px;
                    overflow: hidden;
                    margin-bottom: 13px;
                }
                .price{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 19.3402px;
                    line-height: 150%;
                     color: #111827;
                }
                .product-no-sale{
                    background: #F0FDF4;
                    border-radius: 2.14892px;
                    padding: 1px 5px;
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12.8935px;
                    line-height: 150%;
                    color: #16A34A;
                }
                // .remove-product{
                //     background-color: #8a0e49;
                //     border-radius: 50%;
                //     border: none;
                //     color: #fff;
                //     font-size: 20px;
                //     position: absolute;
                //     right: 0;
                //     top: 4px;
                //     width: 24px;
                //     height: 24px;
                //     display: flex;
                //     align-items: center;
                //     opacity: 0.7;
                //     transition: 0.2s;
                //     &:hover{
                //         opacity: 1;
                //         transition: 0.2s;
                //     }
                // }
                .added-product{
                    border-radius: 50%;
                    border: none;
                    position: absolute;
                    left: 13px;
                    top: 4px;
                    width: 24px;
                    height: 24px;
                    display: flex;
                    align-items: center;
                    opacity: 0.7;
                    transition: 0.2s;
                    background-image:url(../images/icons/checkmark.png);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }
}

.user-icon-profile-wrapper{
    width: 29px;
    height: 29px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
    display: flex;
    align-items: center;
    img{
        width: 29px !important;
        height: 29px !important;
        object-fit: cover;
        flex: 0 0 29px;
    }
}

.dropdown-toggle::after{
    background-image:url(../images/icons/chevron-down.svg);
    background-repeat: no-repeat;
    background-position: right center;
    display: inline-block;
    content:"";
    width:16px;
    height:16px;
    border: 0;
}


.influencer-pages-content-wrapper{
    .banner-content{
        .common-button{
            .white-bttn{
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 19px;
                text-align: center;
                color: #8A0E49;
            }
        }
    }
    
}


.top_selling_product{
    .product-item{
        a{
            display: block;
            width: 100%; 
        }
    }
}


.product-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    //Search Bar
    .input-group{
        margin-bottom: 0px;
        .input-group-prepend{
            display: flex;
            align-items: center;
            .input-group-text{
                background-color: #fff;
                height:40px;
                padding: 8px;
                border: none;
            }
        }
        input{
            height: 40px;
            width: 150px;
            border-radius: 4px;
            border: 1px solid #E4E4E7 !important;
            border-left: 0px !important;
            margin-right: 8px;
            margin-left:0px;
            
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 150%;
            text-align: left;
            color: #27272A;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }
    .filter-wrapper{
        display: flex;
        // align-items: flex-start;
        align-items: center;
        .filter-header-wrapper{
            display: none;
        }

        .button-catalog{
            display: flex;
            align-items: center;
            #price, #category{
                // margin: 0 0 0 15px;
                margin-right: 8px;
                background-color: #fff;
                color: #333;
                padding: 9px 30px 10px 8px;
                // max-width: 230px;
                // width: 320px;
                border-radius: 4px;
                appearance: none;
                background-image: url(../images/icons/arrow-down_black.svg);
                background-repeat: no-repeat;
                // background-position: 95% 13px;
                background-position: right 10px center;
                height: 40px;
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                color: #27272A;
                cursor: pointer;
                // text-align: center;
                text-align: left;
                border: 1px solid #E4E4E7;
            }
            #category{
                width: 194px;
            }

            .multi-select-wrapper{
                margin: 0 8px 0 0;
                border: 1px solid #E4E4E7;
                flex: unset;
                width: 200px;
                border-radius: 4px;
                background-color: #fff;
                
                .select2-selection{
                    border-bottom:0 !important;
                    background: #fff !important;
                    border-radius: 4px;
                    padding: 0;
                    margin: 0;
                    // display: flex;
                    // align-items: center;
                    // justify-content: flex-start;
                    max-height: 40px;
                    overflow-y: auto;
                    overflow-x: hidden;
                    @media screen and (max-width: 568px){
                        max-height: unset;
                    }
                    .select2-selection__rendered{
                        width: 100%;
                        li{
                            margin:5px 2px;
                            background-color: #cccccc96;
                            button{
                                background-color: #ccc;
                                color: #000;
                                &:hover{
                                    background-color: #ccc;
                                    color: #000;
                                }
                            }
                            span{
                                color: #000;
                            }
                        }
                    }
                    .select2-search{
                        margin-bottom: 4px;
                        width: 100%;
                        textarea{
                            width: 100%;
                            font-family: "Source Sans Pro";
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 150%;
                            cursor: pointer;
                            text-align: left;
                            margin-left:0;
                            padding:8px;
                            height: 40px;
                            background-image: url(../images/icons/arrow-down_black.svg);
                            background-repeat: no-repeat;
                            background-position:center right 10px ;
                            width: 100%;
                            &::placeholder{
                                color: #27272A;
                            }
                            &:focus{
                                background-image: none;
                            }
                        }
                    }
                }
                
            }
        }

        .common-button{
            flex-direction: row-reverse;
            button{
                margin: 0 12px 0 0px !important;
            }
            .white-bttn{
                border-radius: 4px !important;
                font-size: 14px;
                margin: 0 !important;
            }

            .purple-btn{
                font-size: 14px;
            }
        }
    }

}



@media screen and (max-width: 768px){
    .filter-wrapper{
        flex-direction: column;

        .button-catalog{
            width: 100%;
            flex-direction: column;
            align-items: flex-start !important;

            #price{
                max-width: 100% !important;
                width: 100%;
                margin-bottom: 8px;
            }

            #category{
                max-width: 100% !important;
                width: 100% !important;
                margin-bottom: 8px;
            }

            .multi-select-wrapper{
                width: 100% !important;
                margin-bottom: 8px !important;
                .select2-container{
                    width: 100% !important;
                }
            }
        }

        .common-button{
            width: 100% !important;
            display: flex;
            align-items: center;
            justify-content: space-between;

            button{
                max-width: 45%;
                height: 48px;
            }
        }
    }



    #product-de{
        flex-direction: column;

        .product-detail-cont{
            max-width: 100%;
        }

        .product-specification{
            max-width: 100%;

            .spec-row{
                #color{
                    flex-wrap: wrap;

                    .color-box{
                        margin-bottom: 13px;
                    }
                }
            }
        }
    }


    .account-main-info-wrapper{
        padding: 0;
        .full-width-back-btn{
            margin-left: 0;
            margin-right: 0;
        }

        .account-setup{
            .account-cont{
                background: #F8F8F8;
                box-shadow: none;

                h4{
                    margin-bottom: 16px;
                }
            }
        }

        .account-info-wrapper{
            margin-top: 32px;

            #profile_details{
                .user-info-wrapper{
                    padding-right: 0;

                    &::before{
                        display: none;
                    }

                    .profile-wrapper{

                    }
                }

                .address-wrapper{
                    padding-left: 16px !important;
                }

            }
        }
    }
}


#message{
    text-transform: capitalize;
}