// Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
$default-color: #7A0D41;

body {
  font-family: $primary-regular;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  padding-top: 64px;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}
.p-0{
  padding: 0px !important;
}
button{
  cursor: pointer;
}
header,footer,section {
  display: block;
}
ul {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
  li {
    display: inline-block;
    a {
      text-decoration: none;
    }
  }
}

a {
  color: rgba($color-text,0.6);
  &:hover, &:active, &:focus {
    color: $brand-primary;
    text-decoration: none;
  }
}

input, button , textarea {
  &:focus, &:active {
    outline: 0px !important;
    box-shadow: none !important;
  }
}

input:-webkit-autofill{
    background: transparent !important;
}

.title-wrapper{
  h4{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    
  }
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
   background: #f8f9fa;
   opacity: 1;
}
.empty-field-error{
  margin-top: 2px;
  font-size: 14px;
  color: red;
  font-weight: normal;
}
.alert-danger.login-error{
  color: #a94442 !important;

}
.login-error{
  width: 100%;
}
.c-btn{
  padding: 8px 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  margin: 0px;
  border: none;
  transition: 0.3s;
}
.blk-btn{
  background: #fff;
  
}
.sub-ops-wrapper{
  .btn-wrapper{
    .blk-btn{
      // &:hover{
      //   background: #FFC300;
      // }
    }
    .blk-btn.active{
      background: #FFC300;
      
    }
  }
}
td, th{
  a{
    color: #27272A

  }
}

.backdrop{
  width:100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left:0;
  top:0;
  display: none;
}


.button-group{
  width: 100%;
  label{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #27272A;
  }
  button{
    position: relative;
    width: 100%;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #27272A;
    background: #F8F8F8;
    border-radius: 0px;
    margin-bottom: 0px;
    span{
      position: absolute;
      top: 2px;
      right:10px;
      img{
        width:12px;
        height: 6px;
      }
    }
  }
  button::after{
    display: none;
  }
  .dropdown-menu{
    box-shadow: none;
    position: relative !important;
    transform: none !important;
    border-top: 0;
    background: #F8F8F8;
    width: auto;
    li{
      width: 100%;
      padding: 16px;
      a{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        display: flex;
        align-items: center;
        color: #27272A;
      
      }
    }
  }
  .dropdown-menu::after{
    display: none;
  }
}


.no-data-details{
    max-width:100% !important;
    margin: 28px 40px 40px 24px;
    // background: transparent !important;
    background: #fff;
    border-radius: 4px;
    padding: 16px;
    .not-found{
        flex-direction: column;
        font-size: 20px;
    }
    .upcoming-earing-list-wrapper{
        margin-bottom:0;
        .not-found{
            padding: 0;
            h3{
                font-size: 20px;
            }
        }
    }
    .history-earing-list-wrapper{
        .card{
            border: 0;
            padding:0 !important; 
            .text-center{
                padding: 0;
                h3{
                    font-size: 20px;
                }
            }
        }
    }
}

.message-wrapper{
    display: none !important;
    height: 64px;
    a{
        height: 100%;
        img{
            width: 26px;
            height: 26px;
        }
    }
}

.images_placehold{
    width: 120px;
    height: 110px;
    object-fit: contain;
}

#successMessage{
    margin: 24px;
}

#passwordcheck{
    font-size: 14px;
    font-weight: normal;
    padding: 16px 8px;
}

#otperr{
    // text-transform: capitalize;
    font-size: 14px;
    font-weight: normal;
    padding: 16px 8px;
}


@media screen and (max-width: $screen_768px){
  .button-group{
    width: 100%;
    label{
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      color: #27272A;
    }
    button{
      position: relative;
      width: 100%;
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      display: flex;
      align-items: center;
      color: #27272A;
      background: #FFFFFF;
      border-radius: 0px;
      margin-bottom: 0px;
      span{
        position: absolute;
        top: 2px;
        right:10px;
        img{
          width:12px;
          height: 6px;
        }
      }
    }
    button::after{
      display: none;
    }
    .dropdown-menu{
      box-shadow: none;
      position: relative !important;
      transform: none !important;
      border-top: 0;
      li{
        width: 100%;
        padding: 16px;
        a{
          font-family: Source Sans Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 150%;
          display: flex;
          align-items: center;
          color: #27272A;
        
        }
      }
    }
    .dropdown-menu::after{
      display: none;
    }
  }
}

.multi-select-options{
  button{
    background: #F8F8F8;
    border-bottom: solid 1px #A1A1AA;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #A1A1AA;
    width: 100%;
    padding: 9px;
    text-align: left;
    
  }
  .dropdown-menu{ 
    width: 100%;
    padding: 16px;
    li{
      padding: 8px 0;
      display: flex;
      label{
        text-align: left;
        display: block;
       
      }
      input{
        position: relative;
      width: 20px;
      margin-left: 0;
      margin-right: 8px;
      }
    }
  }
}
.dataTables_wrapper{

}
.select2-results__option{
  width: 100% ;
}
.multi-select-wrapper{
    .select2-container--default{
        .select2-selection--multiple{
            border-bottom: solid 1px #A1A1AA !important;
            background: #F8F8F8 !important;
            padding: 9px;
            border-radius: 0;
        }
    }
  
  .select2-search__field{
    margin-top: 0px !important;
        font-family: Source Sans Pro !important;
        font-style: normal;
        font-weight: normal;
        font-size: 14px !important;
        line-height: 150%;
        color: #27272A;

    &::placeholder{
        font-family: Source Sans Pro !important;
        font-style: normal;
        font-weight: normal;
        font-size: 14px !important;
        line-height: 150%;
        color: #27272A;
        opacity: 0.6;
    }
  }
  .select2-selection--multiple{
    min-height: 39px !important;
    border: none !important;
    border-bottom: solid 1px #A1A1AA !important;
    background: #F8F8F8 !important;
    padding: 9px;
    input{
      padding: 9px 0px 0px 9px !important;
      &::placeholder{
        color: #000;
      }
      &:-moz-placeholder{
        color: #000;
      }
      &:-ms-input-placeholder{
        color: #000;
      }
    }
  }
}
a {
	button.white-bttn {
transition: 0.3s;
	&:hover{
		background: #7a0d41 !important; 
		color: #fff !important;
	}
}
	}
	

  .mobile-number-wrapper{
    background: #FFFFFF;
    border: 1px solid #A1A1AA;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 3px 0;
//   max-width: 327px;
max-width: 100%;
width: 100%;
margin-bottom: 8px;
    .country-code{
      margin-left: 7px;
      background-color: transparent;
      border: none;
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      border-right:solid 1px #D9D9DD;
      color: #27272A;
      width: 65px;
    }
    .mobile-no-input{
      border: none !important;
      height: 32px !important;
      display: block;
      padding-left: 16px !important;
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      color: #27272A;
  }

  }
  .no-change{
    // margin-top: 10px;
    text-align: center;
//    margin-left: auto;
    display: block;
    max-width: 125px;
  }

  .account-setting-dropdown-wrapper{
    width: 100%;
    height: 100%;
    display: block;
    // padding-left: 31px;
    .drop-down-itme{
      width: 100%;
      border-left: 2px solid #E0E0E0;
        &:hover{
          // border-left: 4px solid #7A0D41;
          a{
            font-weight: 600;
            color: #7A0D41;
            opacity: 1;
          }
        }
      a{
        display: block;
        padding: 12px 25px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #27272A;
        opacity: 0.7;
      }
    }
    .current-page{
      border-left: 4px solid #7A0D41;
      a{
        
        font-weight: 600;
        color: #7A0D41 !important;
        opacity: 1;
      }
    }
  }



.cus-select{
    max-width: 45%;
    flex: 0 0 45%;
    margin: 0 10px 30px;
    padding: 0 !important;
    .select2-container{
        width: 100%;

        .select2-search__field{

            &::placeholder{
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 150%;
                opacity: 0.6;
                color: #27272A;
            }
        }
    }
}

.imagesubs{
    margin: 0 16px 16px 0 !important;
}


#changeMobileNumber, #cancle-btn{
    background: #fff;
    height: 32px;
    width: 110px;
    border: 1px solid #7A0D41;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #7A0D41;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 768px){
        margin-left: 0;
    }
    &:hover{
        color: #fff;
        background: #7A0D41;
        transition: 0.3s;
    }
}


.sidebar-dropdown{
    .fa-chevron-down{
        transition: 0.2s;
        &.rotate-active{
            transform: rotate(90deg);
            transition: 0.2s;
        }
    }
    .sidebar-submenu{
        display: none;
        padding-left: 32px;
        .dropdown-lists{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
            // margin: 8px 0;
            .drop-down-item{
                width: 100%;
                height: 56px;
                display: flex; 
                align-items: center;
                justify-content: flex-start;
                padding-left: 25px;
                border-left: 2px solid #E0E0E0;
                &.active{
                    border-left: 4px solid #7A0D41;
                    a{
                        color: #7A0D41 !important;
                    }
                }

                &.current-page{
                    border-left: 4px solid #7A0D41;
                    a{
                        color: #7A0D41 !important;
                        font-weight: 600;
                    }
                }

                a{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 150%;
                    letter-spacing: 0.01em;
                    color: rgba(39,39,42,0.7) !important;
                }
            }
        }

        &.active{
            display: block;
        }
    }
}

.influencer-pages-content-wrapper{
    // .empty-field-error{
    //     margin: 2px !important;
    // }

    .select-color{
        .color-list{
            padding: 0;
            background-color: transparent;
            .color-list-item{
                border: 0;

                .fa-check{
                    font-size: 20px;
                }
            }
        }
    }
}


.select2-search__field{
    font-family: 'Source Sans Pro' !important;
}

// .select2-selection__choice{
//     margin-top: 0 !important;
//     margin-left: 0 !important;
//     margin-right: 5px !important;
// }


#resendCode{
    &:hover{
        color: #7A0D41;
    }
}


#mpesa_number{
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
}

.signup-heading{
    height: auto !important;
    padding: 0 !important;
    h1{ 
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 1.7rem;
        letter-spacing: 0.01em;
        color: #fff;
        margin-bottom: 12px;
    }
    p{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        letter-spacing: 0.01em;
        color: #fff;
    }
}

.left_col::-webkit-scrollbar {
	display: none;
}


#verificationBtn{
    // background: none !important;
    // color: #7a0d41 !important;
    font-size: 14px;
    // box-shadow: 0px 0px 1px 2px rgb(138 14 73 / 16%);
    cursor: pointer !important;
}

.verified-btn{
    background: none !important;
    box-shadow: none !important;
    width: 70px !important;
    height: 20px !important;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1200px){
    .signup-page {
        max-width: 1100px;
    }
}

@media screen and (min-width: 760px) and (max-width: 1280px){
    .add-product-page{
        .dashboard-inner{
            .dashboard-card-outr{
                padding: 16px !important;
                .dashboard-card{
                    margin: 0 8px;
                    padding: 14px;

                    h3{
                        img{
                            width: 30px;
                            height: 30px;
                        }
                        font-size: 18px;
                    }

                    .card-flex{
                        span{
                            font-size: 14px;
                        }
                        h3{
                            font-size: 14px;
                        }
                    }

                    .view-ss{
                        a{
                            font-size: 14px;
                        }
                    }
                    .common-button{
                        .purple-btn{
                            font-size: 12px;
                            padding: 6px 10px !important;
                            height: 30px;
                        }
                        .white-bttn{
                            font-size: 12px;
                            padding: 6px !important;
                            height: 30px;
                            a{
                                font-size: 12px;
                            }
                        }
                    }
                }

                #card-social{
                    img{
                        width: 30px !important;
                        height: 30px !important;
                    }

                    .card-flex{
                        p{
                            font-size: 14px !important;
                        }
                        h3{
                            font-size: 18px !important;
                        }
                    }

                    .full-button{
                        padding-left: 48px !important;
                        a{
                            font-size: 14px;
                            span{
                                img{
                                    width: 20px !important;
                                    height: 20px !important;
                                }
                            }
                        }
                    }
                }
            }

            .product-section{
                padding: 0 16px !important;
                .product-box{
                    h2{
                        font-size: 16px;
                    }
                   
                    .text-center{
                        p{
                            font-size: 16px !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px){
    .signup-page{
        max-width: 1100px;
    }
}

@media screen and (max-width: 768px){
    .signup-heading{
        display: none;
        padding: 20px !important;
        h1{
            font-size: 24px;
            margin-bottom: 8px;
        }
        p{
            font-size: 14px;
            padding: 0 32px !important;
        }
    }

    .signup-page{
        max-width: 920px;
    }
}

.image-container{
    width: 100px;
    height: 100px;
    margin-right: 8px;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .remove{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 4px;
        top: 4px;
        width: 20px !important;
        height: 20px !important;
        background: #ccc;
        cursor: pointer;
        .img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

#primary-slider-list{
    li{
        .removeImg{
            display: none;
        }
    }
}

#secondary-slider-track{
    #secondary-slider-list{
        .slider_slide{
            position: relative;
            .removeImg{
                position: absolute;
                right: 4px;
                top: 4px;
                background: #ccc;
                width: 18px;
                height: 18px;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 4px;

                img{
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
}