.add-language form {
  width: 100%; }

.add-language .order_box .outer {
  padding: 0 0 0; }

.add-language .passord-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .add-language .passord-btn a {
    margin: 0 0 0 10px; }
