.dashboard-card-outr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0 -15px; }
  .dashboard-card-outr .dashboard-card {
    background: #fff;
    max-width: 30.5%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30.5%;
    flex: 0 0 30.5%;
    padding: 20px;
    margin: 0 15px; }
