.form-input-field{
    width: 50%;
    display: block;
    padding: 8px;
    label{
        font-family: Source Sans Pro;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 21px;
    }
    .radio-input{
        display: flex !important;
        align-items: center;
        justify-content: flex-start;
        input[type=radio]{
            height: 16px;
            width: 16px;
            background: #FFFFFF;
            border: 1px solid #3F3F46;
            box-sizing: border-box;
        }
        div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 32px;
            label{
                margin-bottom: 0;
                margin-left: 16px;
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 150%;
                display: flex;
                align-items: center;
                color: #3F3F46;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .account-setup{
        padding-top:0;
        .container{
            padding:0;
            .back-link{
                background-color: #fff;
                margin: 0;
                padding: 16px;
                a{
                    font-family: Noto Serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 150%;
                    display: flex;
                    align-items: center;
                    color: #18181B;
                }
            }
            .account-cont{
                background: #f8f8f8;
                margin-top: 0;
            }
        }
        .account-form{
            .form-input-field{
                width: 100%;
                padding-bottom: 32px;
                display: block;
                label{
                    font-family: Source Sans Pro;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 21px;
                }
                .radio-input{
                    display: flex !important;
                    align-items: center;
                    justify-content: space-between;
                    div{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        label{
                            margin-bottom: 0;
                            margin-left: 16px;
                        }
                    }
                }
            }
        }
    }
    
    
    .account-setup{
        .account-form{
            .form-field{
                input,textarea, select{
                    background-color: #fff !important;
                }
                .input-date{
                    background-image: url("../../../");
                    background-size: 20px 20px;
                    background-position: center right;
                    background-repeat: no-repeat;
                    
                }
            }
        }
        
    }
    
    .button-sec{
        margin-top: 32px;
        button{
            width: 100%;
        }
        
    }
}


.account-cont{
    .account-form{
        .form-input-field{
            width: 47%;
            .select-box{
                width: 100%;

                .select2-container{
                    width: 100%;
                }
            }
        }
    }
}



