.account-setup {
    padding: 27px 0 0 0;
    margin-bottom: 50px;

    .breadcrumb-wrapper{
        .breadcrumb{
            a{
                img{
                    width: 24px;
                    height: 24px;
                    margin-right: 8px;
                }

                font-family: Noto Serif;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                color: #111827;
                display: flex;
                align-items: center;
            }
        }
    }

.account-form {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    .form-field {
        max-width: 45%;
        flex: 0 0 45%;
        margin: 0 10px 30px;

        h5{
            font-size: 14px;
            font-weight: normal;
            margin-top: 4px;
        }

        @media screen and (max-width: 1024px){
            max-width: 47%;
            flex: 0 0 47%;
        }

        @media screen and (max-width: 767px){
            max-width: 100%;
            flex: 0 0 100%;
            margin: 0 0 30px;
        }

        label{
            width: 100%;
            color: #27272A;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 4px;
        }
        input{
            width: 100%;
            // background: #fff;
            background: #F8F8F8;
            border-bottom: solid 1px #A1A1AA;
            border-top: none;
            border-left: none;
            border-right: none;
            padding: 8px;
        }

        select{
            width: 100%;
            // background: #fff;
            background: #F8F8F8;
            border-bottom: solid 1px #A1A1AA;
            border-top: none;
            border-left: none;
            border-right: none;
            padding: 8px;
        }

        textarea{
            width: 100%;
            background: #F8F8F8;
            border-bottom: solid 1px #A1A1AA;
            border-top: none;
            border-left: none;
            border-right: none;
            padding: 8px;
            height: 130px;
            resize: none;
        }

    }
}

.input-fields{
    input, select{
        border-bottom: 2px solid #A1A1AA !important;
        background-color: #fff !important;
    }
}

.browse-pic{
    text-align: center;
    margin-bottom: 40px;
.drop-zone {
    max-width: 130px;
    height: 120px;
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    color: #cccccc;
    // border: 2px solid #dadada;
    margin: 0 auto 0;
    label{
        width: 120px;
        max-width: 120px !important;
        display: grid;
        cursor: pointer;
        margin-bottom: 0px !important;
        overflow: visible;
        

      

            img{
                width: 120px;
                height: 120px;
                object-fit: cover;
                border-radius: 50%;
               
            }

        
    
    }
}

h3{
    font-size: 14px;
    margin: 10px 0 5px 0px;
    font-weight: 600;
}

p{
    font-size: 12px;
    color: rgba(0, 0, 0, .5);
}
}
  
  .rounder-border {
    border: 0;
    background-color: transparent;
    font-weight: bold;
    margin: 10px; }
  
  .rounder-colored {
    border: 0;
    background-color: #00c0a9;
    color: #fff;
    padding: 10px 30px;
    border-radius: 55px;
    margin: 10px; }
  
  .formadddesc p {
    font-size: 14px;
    color: #4e4e4e; }
  
  .rounder-colored:hover {
    background-color: #047366; }
  
  .rounder-border:hover {
    color: #00c0a9; }
  
  .drop-zone--over {
    border-style: solid; }
  
  .drop-zone__input {
    display: none; }
  
  .drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative; }
  
  .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center; 
}


    .account-cont {
        background: #fff;
        padding: 20px;
        margin: 20px 0 0 0;
        background: #FFFFFF;
        box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .back-link {
        margin: 15px 0 0 0;

        a{
            font-size: 18px;
            font-weight: 600;
            color: #111827;

            .fas{
                margin: 0 5px 0 0;
            }
        }
    }

    .progress-txt {
        text-align: center;
        margin: 20px 0 35px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            position: relative;
            padding: 0 20px;
            width: 240px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            font-weight: 600;

            span{
                background: #E0E0E0;
                width: 32px;
                height: 32px;
                display: inline-block;
                border-radius: 50%;
                margin: 0 10px 0 0;
                align-items: center;
                justify-content: center;
                display: flex;
            }

            &.active{
                color: #000;
                font-weight: 600;
                &:before{
                    position: absolute;
                    width: 70px;
                    height: 1px;
                    background: #ddd;
                    content: "";
                    top: 16px;
                    left: 93%;
                }
    
    
                span{
                    background: #FFC300;
                }
                #s2{
                    &:before{
                        
                        left: -20px;
                    }  
                }
            }
        }
        #s2{
        &:before{
                    
                    left: -20px;
                }
    
        }
    }
}