.form-title{
	margin: 32px 40px 15px 24px;
	h4{
		font-family: Source Sans Pro;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 150%;
		color: #27272A;

	}
}

.catalog-form {
    background: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 24px 50px 24px;
    border: 1px solid #E5E7EB;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 50px;
    .form-field-full{
        h5{
            font-size: 14px;
            font-weight: normal;
            margin-top: 4px;
        }
        #description{
            height: 64px;
            background: #F8F8F8;
        }  
        
    }
    // #specs{
    //     input[type="text"]{
    //         background: #F8F8F8;
    //     }
    // }
    .form-field {
        h5{
            font-size: 14px;
            font-weight: normal;
            margin-top: 4px;
        }
        .product-price{
            height: 40px;
            .input-group-text{
                border-radius:0;
                border:0;
                background-color: #F8F8F8;
                border-bottom: solid 1px #A1A1AA;
            }
            input:focus{
                background-color: #F8F8F8;
                border-bottom: solid 1px #A1A1AA;
            }
        }
    
        label {
        width: 100%;
    }

    input, select{
        width: 100%;
        padding: 9px;
    }
    .number {
        display: flex;
        align-items: center;

        input{
            width: 50px;
            margin: 0 10px;
            text-align: center;
        }

        span {
            font-size: 20px;
            font-weight: 700;
            margin: 0 5px;
        }
    }
}


.form-field-full {
    flex: 100%;
    max-width: 100%;
    margin: 0 10px 30px;
    

    label {
    width: 100%;

    #addbtn{
        background: #333;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        padding: 8px 20px;
        margin: 0;
        border: none;
        border-radius: 4px;
    }
}

input, select{
    width: 100%;
    padding: 9px;
}
textarea{
    width: 100%;
    padding: 9px;
    resize: none;
}
.browse-box {
    padding:16px;
    max-width:602px;
    width:100%;
    height: 325px;
    text-align: center;
    // border: dashed 2px #d2d2d2;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F9FAFB;
    border-radius: 8px; 
    .browse-box-inner {
        display: flex;
        height: 90%;
        margin: 10px;
        border: dashed 2px #71717A;
        border-radius: 8px;
        background: #fff;
        width: 100%;
        label{
            cursor: pointer;
            display: grid;
            .featured-image-preview-wrapper{
                position: absolute;
                // width: 542px;
                // height: 254px;
                width: 546px;
                height: 259.7px;
                overflow: hidden;
                z-index: 0;
                img{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    object-fit: cover;
                    border-radius: 4px;
                }
            }
        }
        input{
            background: #fff;
            display: none; 
        }

        .browse-content {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            img{
                width: 29px;
                height: 27px;
                margin: 0 0 10px 0;
            }
            p{
                color: #9CA3AF;
                font-size: 15px;
                margin: 0;
                z-index: 1;
            }
        }
    }
}
}

.browse-items {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 602px;
    width: 100%;
    margin: 15px 0 0 0;

    .browse-ss {
        height: 100px;
        width: 100px;
        margin-right: 8px;
        border-radius: 8px;
        margin-bottom: 0px;
        label{
            cursor: pointer;
            // display: grid;
            height: 100px;
            width: 100px;
            background: #F9FAFB;
            border: 1px solid #D1D5DB;
            border-radius: 8px;
            display: flex; //
            align-items: center; //
            justify-content: center; //

            .product-additional-image{
                overflow: hidden;
                position: absolute;
                
                width: 100px;
                height: 100px;

            }
        }
        input{
            display: none;
        }

        @media screen and (max-width: 767px){
            margin: 0 4px;
        }

        img{
            width: 100%;
            height: 100%;
            border-radius: 8px;
            overflow: hidden;
            object-fit: cover;
        
        }
    }

    span{
        width: 40px;
        height: 40px;
        text-align: center;
        background: #e1e1e1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
        // margin: 0 14.19px 0 0;

        @media screen and (max-width: 767px){
            height: auto;
        }
    }
}
}
.number{
    span{
        cursor: pointer;
    }
}
.form-field-full.specification-sec + button {
    background: #333;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 20px;
    margin: 0px 0px 10px 10px ;
    border: none;
    border-radius: 4px;
    margin-bottom:16px ;
  }
.table {
	thead{
		tr{
			border: solid 1px #D7DCE5;
				th{
					border: solid 1px #D7DCE5;
                    white-space: nowrap;
                    font-family: Inter;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 15px;
                    text-transform: uppercase;
                    color: rgba(19,50,86,0.7);
                    border-top: 1px solid rgba(29,59,168,0.1);
                    border-bottom: 1px solid rgba(19,50,86,0.5);
                    border-right: 1px solid rgba(19,50,86,0.1) !important;
				}
			}
	}
	tbody{
		tr{
			border-bottom: solid 1px #D7DCE5;
			td{
			vertical-align: middle;
            background-color: #fff;
            white-space: nowrap;
			}
			td.green-txt{
				background-color: #fff !important;
				text-align: left;
				button{
					background: #E0FFE5;
					border: 0.5px solid #219653;
					border-radius: 1px;
                    &.red{
                        width:fit-content;
                        background: rgba(255, 76, 97, 0.1);
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-size: 14px;
                        line-height: 13px;
                        display: flex;
                        align-items: center;
                        color: #EB5757;
                        padding: 6px 10px;
                        border: 0.5px solid #EB5757;
                    }

                    &.blue{
                        width:fit-content;
                        background: rgba(74, 179, 251, 0.1);
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-size: 14px;
                        line-height: 13px;
                        color: #4AB3FB;
                        padding: 6px 10px; 
                        border: 0.5px solid #4AB3FB;
                    }

                    &.yellow{
                        width: fit-content;
                        background: rgba(255, 184, 0, 0.2);
                        padding: 6px 10px;
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-size: 14px;
                        line-height: 13px;
                        color: #F2994A;
                        border: 0.5px solid #F2994A;
                    }
				}
			}
		}
	}
}

.edit-product-wrapper{
    #product-edit{
        .catalog-form{
            margin-bottom: 0px;
            border-bottom: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    } 
    #product-edit2{
        .catalog-form{
            border-top: 0px;
            
        }
             
    }
}
.edit-product-wrapper  #product-edit + .catalog-form{
    margin-bottom: 0px;
    border-bottom: 0px;
    border-top: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}





// Specification Remove Button //
.field-inner{
    .remove{
        border-bottom: 0;
        width: 100px !important;
        text-align: center;
        background: #7A0D41;
        border-radius: 4px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        color: #FFFFFF;
        position: absolute;
        margin-left: 16px;
    }
}
.form-field.multi-select-wrapper{
    
        .select2-selection{
            height: 39px !important;
            overflow-y: auto;
            overflow-x: hidden;
        }
    
}




@media screen and (max-width: 768px){
    .add-product-page{
        .form-title{
            margin: 16px;
        }
    }
    .catalog-form{
        margin: 0;
        background: #F8F8F8;
        border-radius: 0;
        border: 0;

        .form-field{
            .select2-container{
                width: 100% !important;
            }
            input, .select2-selection--multiple, select, .input-group-text{
                background: #fff !important;
                
            }
        }

        .form-field-full{
            margin: 0;
            textarea{
                background: #fff !important;
            }

            .browse-box{
                background: #fff !important;
                padding: 10px 15px;
            }

            .browse-items{
                margin-bottom: 32px;
                span{
                    height: 40px;
                }
                .browse-ss{
                    width: 57px;
                    height: 48px;
                    label{
                        width: 57px;
                        height: 48px;
                    }
                }
            }
        }

        .specification-sec{
            margin: 16px 0;
            .field-inner{
                width: 100%;

                .remove{
                    position: unset;
                    margin: 8px 0 0 0;
                }
            }
        }

        #addbtn{
            margin-left: 0;
        }

        .common-button{
            #submitbtn1{
                max-width: 100%;
                margin-left: 0;
            }
        }
    }
}



