.notification-wrapper{
    background: #ccc;
    width: 50%;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 32px 24px;
    .notification-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        padding: 16px;
        margin-bottom: 24px;
        .notifi-details{
            display: flex;
            align-items: center;
            i{
                margin-right: 16px;
                font-size: 24px;
            }
            a{
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 150%;
                color: #27272A;
            }
        }
        .notifi-date{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;            
            color: #27272A;
            opacity: 0.5;
        }
    }
}

.business-page-content-wrapper{
    #selling-products, #recent-orders{
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 16px 12px;
        flex: 0 0 49.4%;
        p{
            font-size: 20px;
        }
        .product-box-inner{
            border-bottom: solid 1px rgb(0 0 0 / 10%);
            padding-bottom: 2px;
            img{
                object-fit: cover;
            }
            .box-content{
                h2{
                    margin-top: 11px;
                }
            }
        }
    }
}

#userprofile{
    a{
        text-transform: capitalize !important;
        display: flex;
        align-items: center;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        color: #FFFFFF;
        height: 64px;
    }
}

.info-number{
    height: 64px;
}