.subscription-title{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%; 
}

.subscription-wrapper{
    margin-top: 24px;
    display: flex;
    align-items: center;
    .sub-ops-wrapper{
        .btn-wrapper{
            text-align: left;
            filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
            button{
                &:last-child{
                    margin-left: -2px;
                }
            }
        }
    }
    .sub-des-wrapper{
        margin-left: 15px;
        p{
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
            color: #219653;
        }
    }
}
#subscriptionbtn{
  margin-left: 0px;
  
}
.subscription-date-wrapper{
    display: flex;
    max-width: 581px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 40px;
    .info-content-wrapper{
        width: 100%;
        .title-wrapper{
            h4{
                font-weight: bold;
                font-size: 20px;
                line-height: 150%;
                color: #3F3F46;
                background-image: url(../images/icons/calander.svg);
                background-repeat: no-repeat;
                background-position: center left;
                padding-left: 40px;

            }
        }
        .plan{
            p{
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 18px;
            }
            .plan-month{

            }
            .plan-days{

            }
        }
    }

.progress {
  width: $size;
  height: $size;
  line-height: $size;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: $borderWidth solid $border-color-default;
    position: absolute;
    top: 0;
    left: 0;
  }
  > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .progress-left {
    left: 0;
  }
  .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: $borderWidth;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: $border-color-fill;
    opacity: 0.6;

  }
  .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: ($size/2);;
    border-bottom-right-radius: ($size/2);;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    //animation: loading-2 1.5s linear forwards 1.8s;
  }
  .progress-right {
    right: 0;
    .progress-bar {
      left: -100%;
      border-top-left-radius: ($size/2);;
      border-bottom-left-radius: ($size/2);;
      border-right: 0;
      -webkit-transform-origin: center right;
      transform-origin: center right;
      //animation: loading-1 1.8s linear forwards;
    }
  }
  .progress-value {
    display: flex;
    border-radius: 50%;
    font-size: 36px;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    //font-family: $work-sans;
    font-weight: 300;
    width: 100%;
    .day-left{
        span{
            color: #7A0D41;
           
            font-style: normal;
            &:first-child{
             
                font-weight: 800;
                font-size: 24px;
                line-height: 24px;
            }
            &:last-child{
               
                font-weight: normal;
                font-size: 12px;
                line-height: 24px;
               
                opacity: 0.7;
            }
        }
    }
  }
}

/* This for loop creates the 	necessary css animation names 
Due to the split circle of progress-left and progress right, we must use the animations on each side. 
*/
@for $i from 1 through $howManySteps {
	$stepName: ($i*(100 / $howManySteps));

	//animation only the left side if below 50%
	@if $i <= ($howManySteps/2) { 
		.progress[data-percentage="#{$stepName}"] {
			.progress-right .progress-bar {
				 animation: loading-#{$i} $animationTime linear forwards;
			}
			.progress-left .progress-bar {animation: 0;}
		}
	}
	//animation only the right side if above 50%
	@if $i > ($howManySteps/2)  {  
		.progress[data-percentage="#{$stepName}"] {
			.progress-right .progress-bar {
				animation: loading-#{($howManySteps/2)} $animationTime linear forwards; //set the animation to longest animation
			}
			.progress-left .progress-bar {
      animation: loading-#{$i - ($howManySteps/2)} $animationTime linear forwards $animationTime;
    }
		}
	}
}

//animation
@for $i from 1 through ($howManySteps/2) { 
	$degrees: (180/($howManySteps/2));
	$degrees: ($degrees*$i);
	@keyframes loading-#{$i}{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate($degrees);
			transform: rotate(#{$degrees}deg);
    }
	}
}
//additional styling
.progress {
		margin-bottom: 1em;
	}

}
