.earning-paymen-wrapper{
    background: #FFFFFF;
border-radius: 4px;
max-width: 692px;
margin: auto;
padding: 16px;
    .earning-edit-btn-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 18px;
        .select-top{
            h3{
                font-weight: 600;
                font-size: 18px;
                line-height: 120%;
            }
        }
        .btn-wrapper{
            a{
                font-weight: 600;
                font-size: 16px;
                line-height: 150%;
                color: #4F4F4F;
                background:$secondary-color;
                border-radius: 4px;
                padding: 8px;
                background-image: url(../images/icons/pencil.svg);
                background-position: center left 16px;
                background-repeat: no-repeat;
                padding-left: 42px;
                display: block;
            }
        }
    }
    .upcoming-earing-list-wrapper{
        margin-bottom: 24px;
    }
    .earing-list{
        h4{
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 150%;
            text-align: left;
            color: #000000;
            opacity: 0.6;
            margin-bottom: 8px;
            
        }
        .earning-item-wrapper{
            background: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.05);
            box-sizing: border-box;
            box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.05);
            border-radius: 4px;
            padding: 12px;
            margin-bottom: 8px;
            .item{
                display: flex;
                justify-content: space-between;
                align-items: center;
               
                .status-wrapper{
                    display: flex;
                    align-items: center;
                    span{
                        
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 150%;
                        color: #3F3F46;

                        &:first-child{
                            width: 38px;
                            height: 38px;
                            background: #D4D4D8;
                            border-radius: 2.92308px;
                            display: block;
                            background-image: url(../images/icons/task.svg);
                            background-position: center; 
                            background-repeat: no-repeat;
                            margin-right: 18px;
                        }
                    }
                    .active{
                        background-color: $border-color-fill !important;
                    }
                }
               .date-wrapper{
                span {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 150%;
                    color: #3F3F46;
                    opacity: 0.7;
                }
               } 
               .amount-wrapper{
                   span{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 150%;
                    color: $border-color-fill;
                    opacity: 0.8;
                   }
               }
            }
           
        }
        .earning-item-wrapper.paid-earning{
            .amount-wrapper{
                span{
                    color: #EB5757;
                    opacity: 0.8;
                }
            }
        }
    }
   
}