.account-info-wrapper{
    background: #FFFFFF;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 92px;
    padding: 56px 88px;
    margin-bottom: 50px;
    .user-info-wrapper{
      
        padding-right: 41px;
        &::before{
            content: " ";
            position: absolute;
            width: 1px;
            height: 415px;
            background-color: #000;
            opacity: 0.1;
            left: 100%;
           
        }
        .user-info{
            .profile-wrapper{
                position: relative;
                background: #FFFFFF;
                border: 1px solid rgba(0, 0, 0, 0.1);
                box-sizing: border-box;
                border-radius: 50%;
                box-shadow: 0px 1px 2px rgb(0 0 0 / 6%), 0px 1px 3px rgb(0 0 0 / 10%);
                height: 124px;
                width: 124px;
                margin-bottom: 31px;
                display: flex;
                align-items: center;
                div{
                    span{
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        overflow: hidden;
                        border-radius: 50%;
                        bottom: 8px;
                        right: 0px;
                        img{
                            width: 100%;
                            height: 100%;
                            margin:0;
                        }
                    }
                }
                img{
                    border-radius: 50%;
                    height: 98px;
                    width: 98px;
                    margin-left:12px;
                    object-fit: cover;
                    overflow: hidden;
                }
            }
            .content-wrapper{
                .company-info{
                    // margin-bottom: 32px;
                    h4{
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 150%;
                        text-transform: capitalize;
                        margin-bottom:7px;
                    }
                    p{
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 150%;
                    }
                }
                
            }
            .contact-wrapper{
                p{
                    margin-bottom: 16px;
                    display: flex;
                    span{
                        font-size: 16px;
                        line-height: 150%;
                        color: #000000;
                        &:first-child{
                            font-weight: 600;
                            opacity: 0.8;
                            // margin-right: 32px;
                            display: inline-block;
                            width: 110px;
                            flex: 0 0 150px;
                        }
                    }
                }
            }
            .about-wrapper{
                margin-bottom: 29px;
                
                p{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 150%;
                    color: #000000;
                    opacity: 0.8;
                }
            }
        }
    }
    .address-wrapper{
        padding-left: 75px;
        .address{
            h4{
                font-weight: 600;
                font-size: 20px;
                line-height: 150%;
                margin-bottom: 35px;
                margin-top: 81px;
                            }
            .addres-content{
                p{
                    margin-bottom: 15px;
                    display: flex;
                    span{
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 150%;
                        color: #000000;
                        opacity: 0.8;
                        &:first-child{
                           font-weight: 600;
                           width: 150px;
                          
                        }
                    }
                }
            }
        }
    }
    .edit-btn-wrapper{
        a{
            padding:8px 8px 8px 28px;
            border: 1px solid #7A0D41;
            box-sizing: border-box;
            border-radius: 4px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            color: #7A0D41;
            background-color: #fff;
            background-image:url(../images/icons/pencil.svg);
            background-repeat: no-repeat;
            background-position: center left 8px;
            display: inline-block;
            text-decoration: underline;
            text-decoration-thickness: 1px;
            span{
                // border-bottom: 1px solid #7A0D41;
                color: #7A0D41; font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
            }

            
        }
    }
    
}
.account-main-info-wrapper{
    .account-cont{
        background: #FFFFFF;
        box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        h4{
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
        }
    }
    .edit-address{
        h4{
            margin-bottom: 41px;
        }
    }
}


.business-account{
    #profile_details{
        .user-info-wrapper{
            .profile-wrapper{
                margin-bottom: 17px;
            }
            .content-wrapper{
                .company-info{
                    margin-bottom: 32px;
                }
            }
            .contact-wrapper{
                p{
                    span:first-child{
                        width: 150px;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}