.refer-content-box-wrapper{
    .refer-code-wrapper{
        max-width: 430px;
        margin: auto;
        .refer-item{
            img{
                width: 66px;
                height: 66px;
                overflow: hidden;
                object-fit: cover;
                margin-bottom: 25px;
            }
            
        }
        .content{
            margin-bottom: 49px;
            p{
               
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 140%;
                 color: #6B7280;
            }
        }
        .refer-code{
            margin-bottom: 26px;
            max-width: 341px;
            margin: auto;
            background-image: url(../images/icons/refer-code-icon.svg);
            background-repeat: repeat-x;
            background-position: center;
            background-size: cover;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            h5{
                text-align: center;
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                line-height: 150%;
                 color: #FFFFFF;
                 letter-spacing: 0.14em;
            }
        }
    }
    .refer-code-copy-btn{
        margin-top: 26px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: #A1A1AA;
        background-color: transparent;
        border: none;
    }

}
.social-share-item-wrapper{
    background: #FFFFFF;
    border-radius: 8px;
    max-width: 816px;
    margin: auto;
    padding: 16px 18px 36px 18px;
    margin-bottom: 100px;
    h4{
       margin-bottom: 44px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        color: #4F4F4F;
    }
    .social-share-item{
        padding: 0 32px;
        display: flex;
        
        .item{
            display: grid;
            text-align: center;
            height: 91px;
            width: 124px;
            margin-right: 24px;
            &:last-child{
                margin-right: 0px;
            }
            span{
                font-weight: 600;
                font-size: 16px;
                line-height: 120%;
                color: #4F4F4F;

                &:first-child{
                    width: 32px;
                    height: 32px;
                    border-radius: 18px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 16px;
                    margin: auto;
                    i{
                        color: #fff;
                    }
                }
            }
        }
        .copy-link{
            background-image: url(../images/icons/copy-link.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-color: #828282;
        }
        .email{
            background: #27AE60;
          }
          .facebook{
            background: #3B5998;
          }
          .twitter{
              background: #00ACEE;
          }
          .linked{
           background: #0E76A8;
          }
    }
    .link-url{
        color: #000 !important;
        opacity: 0.5;
    }
}
.wait-c{
    p{
        font-size: 16px;
        font-weight: 700;
        color: #828282;
        text-align: center;
        margin: 20px 0;
    }
}
.refer-note{
    p{
        line-height: 20px;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        color: #000;
    }
}
.total-point{
    background-color: #EFEEF3;
    margin-top: 20px;
    padding: 8px;
    p{
        &:first-child{
            font-size: 16px;
            color: #828282;
            line-height: 20px;

        }
        &:last-child{
            margin-top: 8px;
            font-size: 18px;
            color: #000;
            font-weight: 900;
            line-height: 22px;
        }
    }
}


.video-wrapper{
    position: relative;
    video{
        border-radius: 4px;
        cursor: pointer;
    }
}