.bussiness-tab-page{
    ul#myTab {
        background-color: #fff;
        border-bottom: none;
        margin-bottom:15px;
        li {
        margin: 0;
        border: none;
        background: #fff;

        a{
            background: #fff;
            display: block;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            &:hover{
                color:#8A0E49;
                transition: 0.3s;
            }
        }
        .active{
            transition: 0.3s;
            border-bottom: solid 3px #FFC300;
            color:#8A0E49;
            font-weight: 600;
        }
        
        
    }
}


 tr {
     th{
    background: #EDEFF5;
}
 }


 .business-dashboard {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;

    .business-graph{
        max-width: 70%;
        flex: 0 0 70%;

        @media screen and (max-width: 767px){
            max-width: 100%;
            flex: 0 0 100%;   
        }
        img{
            width: 100%;
        }
    }

    .pie-graph{
        max-width: 30%;
        flex: 0 0 30%;

        @media screen and (max-width: 767px){
            max-width: 100%;
            flex: 0 0 100%;   
        }

        img{
            width: 100%;
        }
    }

}

#tab_content4 tr td:first-of-type img{
border-radius: 50%;
width: 46px;
height: 46px;
}







// Graph Styling //
.revenue-section{
    margin-bottom: 16px;
    .revenue{
        .graph{
            background: #fff;
            border-radius: 8px;
            padding:16px;

            
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
            border-radius: 4px;


            .graph-text{
                display: flex;
                align-items: center;
                justify-content: space-between;
                h1{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    text-transform: uppercase;                                
                    color: #333333;
                }
                .duration{
                    display: flex;
                    .yearly{
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 18px;
                        text-transform: uppercase;
                        color: #7A0D41;
                        border-bottom: 2px solid #7A0D41;
                        margin-right: 16px;
                    }
                    .monthly{
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 18px;
                        text-transform: uppercase;
                        color: #000000;
                        opacity: 0.3;
                    }
                }
            }
        }
    }
    .sales{
        .pie-chart{
            background: #fff;
            border-radius: 8px;
            padding:16px;

            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
            border-radius: 4px;


            h1{
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.01em;
                text-transform: uppercase;                
                color: #333333;
            }

            .bar{
                p{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 0.01em;
                    color: #000000;
                }
                .progress{
                    height: 4px;
                }
            }
        }
    }

}
}
#piechart{
    // width: 150px  !important;
    // height: 150px !important;
}
