.bank-setup-form{
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width:  498px;
    margin: auto;
    padding: 16px;
    margin-bottom: 113px;
    margin-top: 48px;
    .subscription-title{
        
    }
    .account-setup{
        padding-top: 24px;
        .account-form{
            .form-field{
               max-width: 100%;
               flex: 100%;
               margin-left: 0px;
               background: #FFFFFF;
                border: 1px solid #DADADA;
                box-sizing: border-box;
                border-radius: 4px;
                padding: 8px 12px 0px 12px;
            }
        }
    }
}