.dashboard-inner {
    .dashboard-card-outr {
        display: flex;
        align-items: normal;
        justify-content: flex-start;
        margin: 0 -15px;
        padding: 15px 0 0 0;
        flex-wrap: wrap;
        

        .dashboard-card {
            background: #fff;
            max-width: 30.5%;
            flex: 0 0 30.5%;
            padding: 20px;
            // margin: 0 15px;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            position: relative;
            
            h3 {
                font-size: 20px;
                font-weight: 700;
                margin: 0 0 15px 0;

                img {
                    width: 40px; 
                    height: 40px;
                    margin: 0 10px 0 0;;
                }
            }

            .card-flex {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 0 15px 0;

                span {
                    font-size: 16px;
                }

                h3 {
                    margin: 0;
                }
            }

            .view-ss {
                a {
                    color: #8a0e49;
                    font-size: 18px;
                    display: flex;
                    align-items: center;

                    .fa-arrow-right{
                        width: 16px;
                        height: 16px;
                        margin-left: 10px;
                    }
                }
            }

            .common-button {
                justify-content: space-between;
                position: absolute;
                width: 88%;
                bottom: 20px;

                button {
                    margin: 0 0 0 0;
                    padding: 9px 18px;
                }

                &.full-button {
                    a{
                        width: 100%;
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 150%;
                        color: #262626;
                    }
                    button {
                        width: 100%;
                        max-width: 100%;
                    }
                }
            }


            &.subscription-card {
                h1 {
                    color: #7A0D41;
                    font-size: 36px;
                    font-weight: 700;
                }

                p{
                    font-size: 16px;
                    color: rgba(0, 0, 0, 0.7);
                }

                .top-row {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 16px;

                    img {
                        width: 28px;
                        height: 28px;
                    }
                }
            }

            &.active-card{
                border: 1px solid #8A0E49 !important;
            }
        }

        .purple-btn {
            width: 215px;
            margin: 25px 0 0 15px;
        }
    }

    .product-section {
        margin: 35px 0 0 0;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;

        .product-box {
            background: #FFFFFF;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            padding: 20px;
            max-width: 49%;
            flex: 0 0 49%;
            margin-bottom: 50px;
            box-shadow: 0px 8px 16px rgb(0 0 0 / 10%);

            h2 {
                font-size: 18px;
                font-weight: 600;

                margin: 0px 0 16px 0;

                margin: 0px 0 20px 0;
				font-family: Noto Serif;

            }

            .product-box-inner {
                display: flex;
                align-items: flex-start;
                border-bottom: solid 1px #d2d2d2;
                margin: 7px 0;

                img {
                    width: 172px;
                    height: 113px;
                    border-radius: 4px;
                }

                .box-content {
                    margin: 0 0 0 15px;
					p{
						font-family: Source Sans Pro;
						font-size: 16px;
						line-height: 150%;
						color: #4B5563;
						 font-weight: 500 !important;
					}

                    h2 {
                        font-weight: 700;
                        font-size: 20px;
						font-family: Source Sans Pro;
						margin-bottom: 12px

                    }

                    span {
                        color: #16A34A;
                        font-size: 13px;
                        font-weight: normal;
                        background: #F0FDF4;
                        border-radius: 2.14892px;
                        padding: 3px 10px;
                    } 

                }
            }
        }
    }
}