.product-detail-wrapper{
    .dashboard_container{
        .right_col{
            .product-main{
                .prod-link{
                    padding-top: 16px;
                    a{
                        color:#7A0D41;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 21px;
                    }
                }
            }
        }
    }
}

.influencer-product-detail{
    padding-bottom: 100px;
    #primary-slider-list{
        // padding-left: 24px !important;
        
        li{
            // max-width: 555px !important;
            height: 450px;
            overflow: hidden;
            cursor: grab;
            border: none !important;
            border-radius: 8px;
            background-size: cover;
            img{
                width: 100%;
                overflow: hidden;
                object-fit: cover;
                border-radius: 8px;
            }
        }
    }
    #secondary-slider-track{
        // padding: 0 50px ;
        li{
            border: none !important;
            border: none !important;
            width: 100px !important;
            height: 90px !important;
            border-radius: 8px;  
        }
        
    }
    .splide__pagination{
        display: none;
    }
    #secondary-slider-list{
        transform: translateX(1px);
        justify-content: flex-start !important;
        width: 100% !important;
    }
}



.sweet-alert{
    >h2{
        margin: 16px 0;
    }
    >p{
        margin: 16px 0;
    }
    .sa-button-container{
        margin: 32px 0 16px 0;
        .sa-confirm-button-container{ 
            margin-left: 20px;
        }
    }
}

