.connect-shops-content{
    width: 100vw;
    height: 100vh;
    padding: 80px 16px 16px 16px;
    background: #fff;
    h3{
        //styleName: text-lg/SemiBold;
        font-family: Source Sans Pro;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        padding:16px;
        color: #000;
    }
    p{
        //styleName: text-sm/Regular;
        font-family: Source Sans Pro;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        padding:16px 64px 16px 16px;
        color: #6B7280;
    }

}