#edit-profile{
    display: none;
}
#account-settings{
    padding-top: 0;

    .back-link{
        background: #FFFFFF;
        box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
        a{
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
            color: #27272A;
            padding: 16px;
        }
    }

    .profile-wrapper{
        display: flex;
        align-items: center;
        .company-info{
            margin-left: 120px;
        }
    }
    
}