#main-earning-section{
    .right_col{
        .product-section{
            display: block;

            .total-earning-heading{
                display: flex;
                align-items: flex-end;
                margin-bottom: 16px;
                padding-left: 0 !important;
                padding-right:0 !important;
                h1{
                    font-family: inherit;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 36px;
                    line-height: 120%;
                    letter-spacing: -0.26px;
                    color: #7A0D41;
                    margin-right: 16px;
                }
                h2{
                    margin-bottom: 5px;
                }
            }
            .earning-list{
                .card{
                    h3{
                        font-size: 20px;
                    }
                }
            }
        }

        .product-box{
            background: transparent;
            .product-box-inner{
                border-bottom: 0;
                .product-box-content{
                    min-height: unset;
                    box-shadow: none;
                }
            }
        }
    }
}