@import"../modules/variables";

.influencer-select-product{
    .right_col{
        .product-banner{
            width: 100%;
            padding:0px;
            height: 345px;
			background-image: url(../images/banner-1.png);
            background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			
//            background: linear-gradient(180deg, rgba(122, 13, 65, 0) 0%, rgba(122, 13, 65, 0.6) 100%),
//                        linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) !important;
			.step-dot{
				width: 12px;
				height: 12px;
				display: inline-block;
				background: #E4E4E7;
				margin-right: 12px;
				border-radius: 50%;
				&:first-child{
					margin-left: 28px;
				}
				&:last-child{
				margin-right: 0px;
					
				}
			}
			.step-dot.active{
				background: #16A34A;
				border: 1px solid #FFFFFF;
				box-sizing: border-box;
			}
        }
        #banner-carousel{
            width: 100%;
            height: 100%;
            position: relative;
            .banner-details{
                width: 100%;
                z-index: 10;
                position: absolute;
                bottom:20px;
                padding: 0 150px 0 32px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h3{
                    font-family: Noto Serif;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 36px;
                    color: #FFFFFF;
                }
                p{
                    font-family: Source Sans Pro;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                    color: #FFFFFF;
					display: flex;
					align-items: center;
                }
            }
            .carousel-indicators{
                width: 100px;
                z-index: 110;
                position: absolute;
                bottom:32px;
                left:75%;
                li{
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: #E4E4E7;
                }
                .active{
                    background: #16A34A !important;
                }
            }
            .carousel-inner{
                height: 100%;
                .carousel-item{
                    height: 100%;
                    img{
                        width: 100% !important;
                        height: 100%;
                    }
                }
            }
        }

        .product-selection{
            width:100%;
            display: flex !important;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 16px;
			.title{
				h4{
						font-family: Source Sans Pro;
						font-style: normal;
						font-weight: bold;
						font-size: 18px;
						line-height: 150%;
						color: #27272A;
				}
				p{
				color: #3F3F46;
					font-size: 16px;
				line-height: 150%;
				}
				
			}
            // .product-form{
            //     // .product-filter{
            //     //     display: flex;
            //     //     justify-content: space-between;
            //     //     align-items: center;
            //     //     //Search Bar
            //     //     .input-group{
            //     //         margin-bottom: 0px;
            //     //         .input-group-prepend{
            //     //             display: flex;
            //     //             align-items: center;
            //     //             .input-group-text{
            //     //                 background-color: #fff;
            //     //                 height:40px;
            //     //                 padding: 8px;
            //     //                 border: none;
            //     //             }
            //     //         }
            //     //         input{
            //     //             height: 40px;
            //     //             width: 220px;
            //     //             border-radius: 4px;
            //     //             border: 1px solid #E4E4E7 !important;
            //     //             border-left: 0px !important;
            //     //             margin-right: 8px;
            //     //             margin-left:0px;
                            
            //     //             font-family: Source Sans Pro;
            //     //             font-style: normal;
            //     //             font-weight: 600;
            //     //             font-size: 14px;
            //     //             line-height: 150%;
            //     //             text-align: left;
            //     //             color: #27272A;
            //     //             border-top-left-radius: 0px;
            //     //             border-bottom-left-radius: 0px;
            //     //         }
            //     //     }
            //     //     .filter-wrapper{
            //     //         display: flex;
            //     //         align-items: flex-start;
            //     //         .filter-header-wrapper{
            //     //             display: none;
            //     //         }
            //     //         // .common-button{
            //     //         //     display: none;
            //     //         // }

            //     //         .button-catalog{
            //     //             display: flex;
            //     //             align-items: center;
            //     //             #price, #category{
            //     //                 // margin: 0 0 0 15px;
            //     //                 margin-right: 8px;
            //     //                 background-color: #fff;
            //     //                 color: #333;
            //     //                 padding: 10px 30px 10px 8px;
            //     //                 // max-width: 230px;
            //     //                 // width: 320px;
            //     //                 border-radius: 4px;
            //     //                 appearance: none;
            //     //                 background-image: url(../images/icons/arrow-down_black.svg);
            //     //                 background-repeat: no-repeat;
            //     //                 // background-position: 95% 13px;
            //     //                 background-position: right 10px center;
            //     //                 height: 40px;
            //     //                 font-family: Source Sans Pro;
            //     //                 font-style: normal;
            //     //                 font-weight: 600;
            //     //                 font-size: 14px;
            //     //                 line-height: 150%;
            //     //                 color: #27272A;
            //     //                 cursor: pointer;
            //     //                 text-align: center;
            //     //                 border: 1px solid #E4E4E7;
            //     //             }
            //     //             #category{
            //     //                 width: 215px;
            //     //             }

            //     //             .multi-select-wrapper{
            //     //                 margin: 0 8px 0 0;
            //     //                 border: 1px solid #E4E4E7;
            //     //                 flex: unset;
            //     //                 width: 200px;
            //     //                 border-radius: 4px;
            //     //                 background-color: #fff;
                                
            //     //                 .select2-selection{
            //     //                     border-bottom:0 !important;
            //     //                     background: #fff !important;
            //     //                     border-radius: 4px;
            //     //                     padding: 0;
            //     //                     margin: 0;
            //     //                     display: flex;
            //     //                     align-items: center;
            //     //                     justify-content: flex-start;
            //     //                     max-height: 40px;
            //     //                     overflow-y: auto;
            //     //                     .select2-selection__rendered{
            //     //                         li{
            //     //                             margin:2px;
            //     //                             background-color: #cccccc96;
            //     //                             button{
            //     //                                 background-color: #ccc;
            //     //                                 color: #000;
            //     //                                 &:hover{
            //     //                                     background-color: #ccc;
            //     //                                     color: #000;
            //     //                                 }
            //     //                             }
            //     //                             span{
            //     //                                 color: #000;
            //     //                             }
            //     //                         }
            //     //                     }
            //     //                     .select2-search{
            //     //                         margin-bottom: 4px;
            //     //                         width: 100%;
            //     //                         textarea{
            //     //                             width: 100%;
            //     //                             font-family: "Source Sans Pro";
            //     //                             font-style: normal;
            //     //                             font-weight: 600;
            //     //                             font-size: 14px;
            //     //                             line-height: 150%;
            //     //                             cursor: pointer;
            //     //                             text-align: left;
            //     //                             margin-left:0;
            //     //                             padding-left: 8px;
            //     //                             background-image: url(http://localhost/twiva-common/images/icons/arrow-down_black.svg);
            //     //                             background-repeat: no-repeat;
            //     //                             background-position: right 10px center;
            //     //                             &::placeholder{
            //     //                                 color: #27272A;
            //     //                             }
            //     //                             &:focus{
            //     //                                 background-image: none;
            //     //                             }
            //     //                         }
            //     //                     }
            //     //                 }
                                
            //     //             }
            //     //         }

            //     //         .common-button{
            //     //             .white-bttn{
            //     //                 border-radius: 4px !important;
            //     //                 font-size: 14px;
            //     //             }

            //     //             .purple-btn{
            //     //                 font-size: 14px;
            //     //             }
            //     //         }
            //     //     }
            //     //     //Price Range Dropdown Button
            //     //     #dropdownPrice{
            //     //         height: 40px;
            //     //         width: 165px;
            //     //         margin:0 16px 0 0;
            //     //         display: flex;
            //     //         align-items: center;
            //     //         justify-content: space-around;
            //     //         font-family: Source Sans Pro;
            //     //         font-style: normal;
            //     //         font-weight: 600;
            //     //         font-size: 14px;
            //     //         line-height: 150%;
            //     //         text-align: center;
            //     //         color: #27272A;
            //     //         background: #FFFFFF;
            //     //         border: 1px solid #E4E4E7;
            //     //     }
            //     //     #dropdownPrice::after{
            //     //         color: #3F3F46;
            //     //     }
            //     //     #price-dropdown{
            //     //         .dropdown-menu{
            //     //             width: 165px;
            //     //             box-shadow: none;
            //     //             .dropdown-item{
            //     //                 padding:16px;
            //     //                 display: flex;
            //     //                 justify-content: space-around;
            //     //                 label{
            //     //                     font-family: inherit;
            //     //                     font-style: normal;
            //     //                     font-weight: normal;
            //     //                     font-size: 16px;
            //     //                     line-height: 140%;
            //     //                     display: flex;
            //     //                     align-items: center;
            //     //                     color: #3F3F46;
            //     //                 }
            //     //                 input{
            //     //                     font-family: Inter;
            //     //                     font-size: 16px;
            //     //                     font-style: normal;
            //     //                     font-weight: 400;
            //     //                     line-height: 22px;
            //     //                     background: #FFFFFF;
            //     //                     border: 1px solid #999999;
            //     //                     box-sizing: border-box;
            //     //                     border-radius: 4px;
            //     //                     margin-right: 100px;
            //     //                 }
            //     //             }
            //     //         }
            //     //     }

            //     //     //Categories Dropdown Button
            //     //     #dropdownCategories{
            //     //         height: 40px;
            //     //         width: 230px;
            //     //         margin:0 16px 0 0;
            //     //         display: flex;
            //     //         align-items: center;
            //     //         justify-content: space-around;
            //     //         font-family: Source Sans Pro;
            //     //         font-style: normal;
            //     //         font-weight: 600;
            //     //         font-size: 14px;
            //     //         line-height: 150%;
            //     //         text-align: center;
            //     //         color: #27272A;
            //     //         background: #FFFFFF;
            //     //         border: 1px solid #E4E4E7;
            //     //     }
            //     //     #dropdownCategories::after{
            //     //         color: #3F3F46;
            //     //     }
            //     //     #categories-dropdown{
            //     //         .dropdown-menu{
            //     //             width: 230px;
            //     //             box-shadow: none;
            //     //             .dropdown-item{
            //     //                 padding:16px;
            //     //                 display: flex;
            //     //                 justify-content: space-around;
            //     //                 label{
            //     //                     font-family: inherit;
            //     //                     font-style: normal;
            //     //                     font-weight: normal;
            //     //                     font-size: 16px;
            //     //                     line-height: 140%;
            //     //                     display: flex;
            //     //                     align-items: center;
            //     //                     color: #3F3F46;
            //     //                 }  
            //     //                 input{
            //     //                     font-family: Inter;
            //     //                     font-size: 16px;
            //     //                     font-style: normal;
            //     //                     font-weight: 400;
            //     //                     line-height: 22px;
            //     //                     background: #FFFFFF;
            //     //                     border: 1px solid #999999;
            //     //                     box-sizing: border-box;
            //     //                     border-radius: 4px;
            //     //                     margin-right: 150px;
            //     //                 } 
            //     //             }
            //     //         }
            //     //     }
            //     // }
            // }
        }
        .product-section{
            max-width: 100%;
            display: grid;
            .product-box{
                max-width: 100%;
                background-color: transparent !important;;
                box-shadow: none !important;
				padding: 0px 0px 50px 0px;;
				
                .product-box-inner{
                    width: 298px !important;
                    background-color: transparent !important;
                    box-shadow: none !important;
                    border-bottom: none !important;
                    .product-box-content{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        background-color: #fff;
                        border-radius: 8px;
                        box-shadow: 0px 4px 6px rgb(0 0 0 / 10%);
                        height: auto !important;
                        img{
                            width: 100% !important;
                            height: 100%;
							border-radius: 0px;
                        }
                        .box-content{
                            padding: 16px 8px !important;
                            margin:0;
                            .white-bttn{
                                width: 100%;
                                padding: 8px;
                                border-radius: 4px;
                                &:hover{
                                    background-color: #7a0d41;
                                    color: #fff;
                                    transition: 0.3s;
                                }
                            }
                        }
                        .product-rating{
                            width: 44px;
                            height: 18px;
                            background-color: #fff;
                            display: flex;
                            align-items: center;
                            justify-content: space-evenly;
                            position: absolute;
                            right:0px !important;
                            top:148px !important;
                            border-radius: 2.14892px 0px 0px 2.14892px;
                            .rating-title{
                                font-style: normal;
                                font-weight: 600;
                                font-size: 12.8935px;
                                line-height: 140%;
                                display: flex;
                                align-items: center;
                                letter-spacing: -0.053792px;
                                color: #111827;
                            }
                            .rating-star{
                                img{
                                    width: 10px;
                                    height: 10px;
                                }
                            }
                        }
                    }
                    
                }
            }
        }
       
        .page-selection{
            padding-left: 16px;
            .pagination{
                display: flex !important;
                flex-direction: row;
                justify-content: flex-start;
                .page-item{
                    padding: 0px 4px;
                    border-radius: 4px;
                    .page-link{
                        background: transparent;
                        color:#27272A;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 21px;
                        border: none;
                        border-radius: 4px;

                        &:focus{
                            box-shadow: none;
                        }
                    }
                    .right-arrow{
                        background: #E4E4E7 !important;
                    }
                    
                }
            }
            .page-link-active{
                background-color: #FBBF24 !important;
            }
        }
    }
    
}


//Mobile Filter Button//
.filter-button{
    display: none;
    width:90px !important;
    height:40px;
    padding: 4px 12px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid #D4D4D8;
    box-sizing: border-box;
    border-radius: 4px;
    span{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        display: flex;
        align-items: center;
        color: #71717A;
    }
    img{
        width:16px;
        height: 16px;
    }
    
}


@media screen and (max-width: 1300px){
    .influencer-select-product{
        .right_col{
            .product-selection{
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                .title{
                    margin-bottom: 8px;
                }

                .product-form{
                    .product-filter{
                        flex-wrap: wrap;
                        .input-group{
                            max-width: 400px;
                            margin-bottom: 8px;
                        }
                        .filter-wrapper{
                            width: 100%;
                            align-items: center;
                        }
                    }
                }
            }
        } 
    }
}



@media screen and (max-width: $screen_768px){
    .influencer-select-product{
        .right_col{
            .product-selection{
                flex-direction: column;
               
                align-items: flex-start;
                background: #FFFFFF;
                .title{
                    padding-bottom:16px;
                    h4{
                        //styleName: text-base/Bold;
                        font-family: Source Sans Pro;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 24px;
                    }
                    p{
                        //styleName: text-sm/Regular;
                        font-family: Source Sans Pro;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 21px;
                    }
                }
                .product-form{
                    width: 100%;
                    .product-filter{
                        .input-group{
                            .input-group-prepend{
                                span{
                                    border: 1px solid #D4D4D8 ;
                                }
                            }
                            input{
                                width:auto;
                                border: 1px solid #D4D4D8;
                            }
                        }
                        .filter-button{
                            display: flex;
                            margin-bottom: 0;
                        }
                        .filter-wrapper{
                            display: none;
                            width: 100vw;
                            height: 100vh;
                            position: fixed;
                            top:64px;
                            left:0;
                            z-index: 200;
                            background-color: #fff;
                            flex-direction: column;
                            .filter-header-wrapper{
                                width: 100vw;
                                height: 48px;
                                background-color: #fff;
                                display: flex !important;
                                align-items: center;
                                justify-content: flex-start;
                                padding-left: 16px;
                                cursor: pointer;
                                span{
                                    margin-right: 8px;
                                }
                                .filter-title{
                                    font-family: Noto Serif;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 150%;
                                    color: #3F3F46;
                                }
                            }

                            .button-catalog{
                                flex-direction: column;
                                #category{
                                    width: 100%;
                                }
                                .price-filter{
                                    max-width: 100% !important;
                                }
                                select{
                                    max-width: 100%;
                                    width: 100%;
                                    margin-right: 0 !important;
                                    border-radius: 0 !important;
                                }

                                .multi-select-wrapper{
                                    width: 100%;
                                    margin-right: 0 !important;
                                    border-radius: 0 !important;
                                    .select2-container{
                                        width: 100% !important;
                                    }
                                }
                            }
                            #price-dropdown{
                                width: 100% !important;
                                #dropdownPrice{
                                    width: 100% !important;
                                    justify-content: space-between;
                                    height: 48px;
                                    background: #F4F4F5;
                                    padding-left: 16px;
                                    padding-right: 32px;
                                    font-family: inherit;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 140%;
                                    color: #000000;
                                    border-radius: 0px;
                                }
                                .dropdown-menu{
                                    position:relative !important;
                                    transform:none !important;
                                    width: calc(100vw - 32px) !important;
                                    margin-left: 32px !important;
                                    border: none;
                                    .dropdown-item{
                                        justify-content: flex-start !important;
                                        .form-check-label{
                                            margin-left:16px;
                                        }
                                    }
                                }
                                .dropdown-menu::after{
                                    display: none;
                                }
                            }
            
                            #categories-dropdown{
                                width: 100% !important;
                                #dropdownCategories{
                                    width: 100% !important;
                                    justify-content: space-between;
                                    height: 48px;
                                    background: #F4F4F5;
                                    padding-left: 16px;
                                    padding-right: 32px;
                                    font-family: inherit;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 140%;
                                    color: #000000;
                                    border-radius: 0px;
                                }
                                .dropdown-menu{
                                    position:relative !important;
                                    transform:none !important;
                                    width: calc(100vw - 32px) !important;
                                    margin-left: 32px !important;
                                    border: none;
                                    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
                                    .dropdown-item{
                                        justify-content: flex-start !important;
                                        .form-check-label{
                                            margin-left:16px;
                                        }
                                    }
                                }
                                .dropdown-menu::after{
                                    display: none;
                                }
                            }

                            .common-button{
                                display: flex;
                                justify-content: flex-start;
                                position: fixed;
                                bottom:0;
                                width:100%;
                                padding: 16px 32px;
                                .white-bttn{
                                    height: 48px;
                                    width: 80px;
                                    border-radius: 4px;
                                    border: 1px solid #7A0D41;
                                    box-sizing: border-box;
                                    font-family: Source Sans Pro;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 24px;
                                    letter-spacing: 0em;
                                    text-align: center;
                                    color: #000 !important;
                                }
                                .purple-btn{
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            .product-section{
                box-shadow: none;
                margin-top: 0;
            }
        }
    }   
}

.selected-product-footer-wrapper{
	position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: flex-end;
    background: #fff;
	padding: 13px 17px 13px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%), inset -1px 0px 0px rgb(0 0 0 / 10%);
    z-index: 5;
	.seleced-product-btn-wrapper{
		.btn-wrapper{
			display: flex;
			align-items: center;
			.no-of-select-product{
				h4{
					font-family: Source Sans Pro;
					font-style: normal;
					font-weight: 600;
					font-size: 16px;
					line-height: 150%;
					display: flex;
					align-items: center;
					text-align: center;
					color: #000000;
				}
			}
			.preview-btn-wrapper{
				button{
					margin-bottom: 0px;
					margin-left: 56px;
					background: #FFFFFF;
					border: 1px solid #7A0D41;
					box-sizing: border-box;
				    border-radius: 4px;
					padding: 8px 38px;
					font-family: Source Sans Pro;
					font-style: normal;
					font-weight: 600;
					font-size: 16px;
					line-height: 150%;
					text-align: center;
					color: #7A0D41;
				}
				    
			}
			.next-btn-wrapper{
				button{
					margin-bottom: 0px;
					margin-left: 56px;
					background: #7A0D41;
					border: 1px solid #7A0D41;
					box-sizing: border-box;
					border-radius: 4px;
					padding: 8px 38px;
					font-family: Source Sans Pro;
					font-style: normal;
					font-weight: 600;
					font-size: 16px;
					line-height: 150%;
					text-align: center;
					color: #FFFFFF;
				}
			}
		}
	}
}


