#post{
    .page-title{
        background: #F0F0F0;
        box-shadow: none;
    }
    .product-section{
        display: block;
        padding: 0;
        .toggle-link{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 24px 40px 0px 24px;
            padding: 0 !important;
            // padding-left: 20px;
            // padding-right: 20px;
            .nav{
                background: #FFFFFF;
                border-radius: 2px;
                width: 300px;
                height: 48px;
                .nav-item{
                    width:50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &.toggle-link-active{
                        border-bottom: 3px solid #FFC300;
                        .nav-link{
                            color: #8A0E49;
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                        }
                    }
                    .nav-link{
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 150%;
                        color: #828282;
                        padding: 0;
                    }
                }
            }

            .common-button{
                width: 350px;
                .white-bttn{
                    max-width: 170px;
                    height: 48px;
                    border: 1px solid #7A0D41;
                    box-sizing: border-box;
                    box-shadow: 0px 4px 8px rgba(138, 14, 73, 0.16);
                    border-radius: 4px;
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                    text-align: center;
                    color: #7A0D41;
                }
                .purple-btn{
                    max-width: 170px;
                    height: 48px;
                    background: #7A0D41;
                    box-shadow: 0px 4px 8px rgba(138, 14, 73, 0.16);
                    border-radius: 4px;
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                    text-align: center;
                    color: #FFFFFF;
                }
            }
        }

        .product-box{
            background: transparent;
            padding-right:0px;
            margin: 24px 24px 0px 24px;
            .product-box-inner{
                border-bottom: 0;
                .product-box-content{
                    min-height: unset;
                    box-shadow: none;
                }
            }
        }
    }
}