#payment-history{
    .page-title{
        background: #FFFFFF;
        box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
        a{
            box-shadow: none;
            
        }

        .breadcrumb{
            display: none;
        }
    }

    .earning-paymen-wrapper{
        .earning-edit-btn-wrapper{
            .select-top{
                h3{
                    font-family: Inter;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 120%;
                    letter-spacing: -0.26px;
                    color: #27272A;
                }
            }
            .btn-wrapper{
                width: 182px;
                height: 40px;
                
                a{  
                    background: #FFC300;
                    padding: 16px;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

        .upcoming-earing-list-wrapper{
            .status-wrapper{
                .active{
                    img{
                        width: 38px;
                        height: 38px;
                    }
                }
            }
        }

        .history-earing-list-wrapper{
            .status-wrapper{
                img{
                    width: 38px;
                    height: 38px;
                }
            }
            
        }
    }

    
}
