#account-confirm-header{
    background: #fff;
    padding:16px;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
}
.account-confirm{
    width: 100vw;
    height: 100vh;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:16px;
    h3{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        color: #1F2937;
        padding: 16px;
    }
    p{  
        padding: 16px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #6B7280;
    }
}