#post-story{
    .right_col{
        .page-title{
            box-shadow: none;
            a{
                box-shadow: none;
            }
        }
        .personalise-product{
            width: 30%;

            .create-eshop-wrapper{
                width: 100%;
                padding:16px;
                margin-top:0px;

                .eshop-details-wrapper{
                    width: 100%;
                    margin-bottom: 100px;

                    .form-field{
                        max-width: 100%;
                        margin-left:0;
                        label{
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 150%;
                            color: #27272A;
                        }
                    }
                    .product-section{
                        max-width: 100%;
                        display: block;
                        .product-box{
                            max-width: 100%;
                            background-color: transparent;
                            box-shadow: none;
                            padding: 0 !important;
                            .product-box-inner{
                                padding-right:0;
                                .product-box-content{
                                    position: relative;
                                    display: flex;
                                    justify-content: space-between;
                                    background-color: #fff;
                                    border-radius: 4px;
                                    min-height: unset;
                                    height: 103px;
                                    padding:8px;
                                    img{
                                        width: 111px;
                                        height: 86px;
                                        border-radius: 4px;
                                        object-fit: cover;
                                    }
                                    .box-content{
                                        padding: 4px 8px;
                                        p{
                                            height: unset;
                                            font-family: Source Sans Pro;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 14px;
                                            line-height: 150%;
                                            color: #4B5563;
                                            
                                        }
                                    }
                                    .product-rating{
                                        width: 44px;
                                        height: 18px;
                                        background-color: #fff;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-evenly;
                                        position: absolute;
                                        left: 80px;
                                        top: 60%;
                                        border-radius: 2.14892px 0px 0px 2.14892px;
                                        .rating-title{
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 12.8935px;
                                            line-height: 140%;
                                            display: flex;
                                            align-items: center;
                                            letter-spacing: -0.053792px;
                                            color: #111827;
                                        }
                                        .rating-star{
                                            img{
                                                width: 10px;
                                                height: 10px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .product-images{
                        margin-top: 32px;
                        margin-bottom: 32px;

                        label{
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 150%;
                            color: #52525B;
                            
                        }
                        .product-image-list{
                            display: flex;
                            justify-content: space-between;
                            margin-right: 10px;
                            .product-image-list-item{
                                width: 71.3px;
                                height: 60.04px;
                                label{
                                    width: 71.3px;
                                    height: 60.04px;
                                    border: 1.25088px dashed #D4D4D8;
                                    box-sizing: border-box;
                                    border-radius: 5.00353px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    cursor: pointer;
                                    #plus-btn{
                                        width: auto;
                                        height: auto;
                                    }
                                }
                                
                                img{
                                    width: 71.3px;
                                    height: 60.04px;
                                    border-radius: 5.00353px; 
                                    object-fit: cover;  
                                    cursor: pointer;
                                }
                                
                            }
                        }
                    }

                    .form-field-full{
                        height: auto;
                    }

                    .select-color{
                        width: 100%;
                        display: grid !important;
                        .color-list{
                            width: auto;
                            .color-list-item{
                                width: 41.31px;
                                height: 41.31px;
                            }
                        }
                    }

                    .common-button{
                        justify-content: flex-start;
                        .white-bttn{
                            width: 105px;
                            height: 40px;
                            border-radius: 4px;
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 150%;
                            color: #7A0D41;
                        }
                    }

                    .form-field{
                        .multi-select-options{
                            button{
                                display: flex;
                                justify-content: space-between;
                            }
                        }
                    }
                }
            }

            #post-button{
                padding:16px;
                width: 375px;
                height:80px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: fixed;
                bottom: 0;
                background: #fff;
                .purple-btn{
                    max-width: 45%;
                    height: 48px;
                    margin-left: 0;
                    margin-top: 0;
                }
                .white-bttn{
                    max-width: 45%;
                    height: 48px;
                    border-radius: 4px;
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                    text-align: center;
                    color: #7A0D41;
                    padding: 9px 48px;
                }
            }
        }
    } 
}



/* Style the Image Used to Trigger the Modal */
.Img-List{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    &:hover {
        opacity: 0.7;
    }
}
  
/* The Modal (background) */
.image-modal{
    display: none;
    position: fixed; 
    z-index: 100;
    padding-top: 100px;
    // margin-top: 64px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}
  
/* Modal Content (Image) */
.image-modal-content {
    margin: auto;
    display: block;
    max-width: 455px;
    min-height: 550px;
}
  
  
/* Add Animation - Zoom in the Modal */
.image-modal-content{
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
  
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .image-modal-content {
        width: 100%;
    }
}