#mobile-verification{
    background: #F4F4F5;
    margin-left: 240px;
    padding-top:0;

    @media screen and (max-width: 991px){
        margin-left: 0px;
    }

    .back-link{
        background: #FFFFFF;
        box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);

        a{
            font-family: Noto Serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
            color: #27272A;
            padding: 16px;
        }
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .login-inner{
            display: unset;
            .login-left{
                display: none;
            }
            .login-right{
                max-width: 100%;
                align-items: flex-start;
                justify-content: flex-start;
                .login-section{
                    padding: 16px;
                    margin-top: 40px;
                    width: 450px;
                    min-height: 149px;
                    text-align: left;
                    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
                    .logo{
                        display: none;
                    }
                    >p{
                        display: none;
                    }

                    .input-field{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        input{
                            text-align: center;
                            border: 1px solid #A1A1AA;
                            box-sizing: border-box;
                            border-radius: 4px;
                            width: 327px;
                            height: 46px;
                        }
                        .bottom-button{
                            button{
                                // width: 132px;
                                // height: 40px;
                                width: 125px;
                                height: 32px;
                                background: #7A0D41;
                                border-radius: 4px;
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 150%;
                                color: #FFFFFF;
                                margin: 0 !important;
                                padding: 0 !important;
                                
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-login{
        display: none;
    }
}



#otp-sent-page{
    .login-section{
        width: 359px !important;
        height: 293px !important;
        background: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        text-align: center !important;
        .input-field{
            flex-direction: column !important;
            .otp-input{
                margin-top: 16px;
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                input{
                    width: 40px !important;
                    height: 40px !important;
                    background: #FFFFFF;
                    border: 1px solid #A1A1AA;
                    box-sizing: border-box;
                    border-radius: 4px;
                }
            }
            
        }
        .bottom-button{
            button{
                width: 132px;
                height: 40px;
                background: #7A0D41;
                border-radius: 4px;
                margin: 32px 0 0 0;
                padding: 0 !important;                
            }
        }
    }
}