#schedule-story{
    margin-left: 217px;
    padding-top:0;

    .back-link{
        background: #F0F0F0;
        margin: 0;
        padding: 16px;
        a{
            font-family: Noto Serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
            color: #27272A;
        }
    }
    .container{
        margin: 32px 0px 0px 32px;
        
        
        h1{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
            color: #3F3F46;
        }
        .account-cont{
            box-shadow: none;
            max-width: 840px;
            .account-form{
                flex-wrap: nowrap;
                justify-content: space-between;
                .form-field{
                    max-width: 45%;
                    margin-left:0;
                    margin-right: 0;
                }
            }
            .button-sec{
                margin-top: 32px;
            }
        }
        #schedule-input-form{
            display: flex;
            justify-content: space-between;
            .form-input-field{
                max-width: 45%;
                padding:0;
                .radio-input{
                    flex-direction: column;
                    align-items: flex-start;
                    margin-bottom: 10px;
                    div{
                        margin-top: 16px;
                        margin-bottom: 8px;
                    }
                }
                .form-field{
                    max-width: 100%;
                    button{ 
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                }
            }
        }
    }
}