.influencer-eshop-page{
    .dashboard_container{
        width: 100%;
      
        .add-product-page{
            width: 100%;
            .dashboard-inner{
                .product-banner{
                    padding-bottom: 0px;
                    background:transparent;
                    .banner-image{
                        width: 100%;
                        border-radius: 8px;
                        background-color: #fff;
                    }
                    .banner-section{
                        img{
                            width: 146px;
                            height: 146px;
                        }
                        padding: 32px 32px 0px 32px;
                        display: flex;
                        .banner-content{
                            display: flex;
                            flex-direction: column;
                            padding: 16px;
                            align-items: flex-start;
                            h3{
                                padding: 16px 8px;
                                font-size: 24px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 24px;
                                color:#2D2B2B;
                            }
                            p{
                                padding: 0 0 0 8px;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 21px;
                                text-align: justify;
                            }
                            .common-button{
                                padding: 16px 8px;
                                width: 100% !important;
                                justify-content: flex-start !important;
                                .white-bttn{
                                  
                                    height: 40px;
                                    width: 164px !important;
                                    background: transparent !important;
                                    border-radius: 4px;
                
                                    &:hover{
                                        background-color:#7A0D41 !important;
                                    }
                                }
                            }
                        }
                    }
                    .alert{
                        margin: 0 0px 16px 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background: #14B8A633 !important;
                        border: 1px solid #14B8A6;
                        .alert-content{
                            width: 50%;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 21px;
                        }
                        .alert-button{
                            border: none;
                            background-color: #18181B;
                            height: 40px;
                            width: 113px;
                            left: 1007px;
                            top: 15.5px;
                            border-radius: 4px;
                            padding: 15px, 70px, 15px, 70px;
                            color: #fff;
                        }
                    }
                    
                }
                .custom-d{
                    display: inherit !important;
                }
                .product-section{
                    max-width: 100%;
                    display: grid;
                    .product-box{
                        max-width: 100%;
                        background-color: transparent;
                        box-shadow: none;
                        .product-box-inner{
                            
                            width: 272px;
                            border-radius: 4px;
                            display: flex;
                            flex-direction: column !important;
                            border-bottom: none;
                            .product-box-content{
                                position: relative;
                                display: flex;
                                // flex-direction: column;
                                background-color: #fff;
                                border-radius: 8px;
                                box-shadow: 0px 4px 6px rgb(0 0 0 / 10%);
                                .box-content{
                                    padding: 16px 8px !important;
                                    margin:0;
                                    .white-bttn{
                                        width: 100%;
                                        padding: 8px;
                                        border-radius: 4px;
                                    }
                                }
                                .product-rating{
                                    width: 44px;
                                    height: 18px;
                                    background-color: #fff;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-evenly;
                                    position: absolute;
                                     right:50%;
                                    // top:148px;
                                    // left: 32%;
                                    border-radius: 2.14892px 0px 0px 2.14892px;
                                    .rating-title{
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 12.8935px;
                                        line-height: 140%;
                                        display: flex;
                                        align-items: center;
                                        letter-spacing: -0.053792px;
                                        color: #111827;
                                    }
                                    .rating-star{
                                        img{
                                            width: 10px;
                                            height: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .p-btn{
        a{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            display: block;
            text-align: center;
            color: #7A0D41;
            padding: 8px;
            width: 100%;
            background: #FFFFFF;
            border: 1.09231px solid #7A0D41;
            box-sizing: border-box;
            border-radius: 4px;
            transition: 0.2s;
            &:hover{
                background-color: #7A0D41;
                transition: 0.2s;
                color: #fff;
            }
        }
    }
}


.product-box-inner{
	margin-bottom: 16px;
}
.product-box-content{
overflow: hidden;
	
	.thumb{
		overflow: hidden;
		height: 176px;
		max-height: 176px;
		object-fit: cover;
	
		max-width: 100%;
		
	}
	p{
		font-family: Source Sans Pro;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 150%;
		color: #4B5563;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		text-align: left;
		height: 54px;
		overflow: hidden;
	}
	h2{
		font-family: Source Sans Pro;
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 150%;
		color: #111827;
	}
}
.product-list.influencer-eshop{
    .product-box-content{
        height: auto;
        height: auto !IMPORTANT;
        flex-direction: column;
        img{
            width: 100% !important;
        }
        .product-rating{
            right: 0% !important;
            top: 148px !important;
        }
    }
    
   
}
.influencer-page-content-wrapper{
    .input-group-prepend{
        border: 1px solid #E4E4E7 ;
        border-radius: 4px;
        .input-group-text{
            height: 38px !important;
        }
    }
    
}
.user-profile, .company-name{
    text-transform: capitalize;
}
.banner-eshop-logo-wrapper{
    width: 146px;
    height: 146px;
    border: 1px solid #D4D4D8;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   .logo-image{
    
    object-fit: cover;
   } 
}
.eShop-desc + .common-button{
    a{
        width: auto !important ;
        
    }
   
}
.eshop-product-thum-wrapper{
    width: 100%;
    height: auto;
    img{
        width: 100% !important;
        height: auto !important;
    }
}
.eshop-cart-wrapper{
    display: block;
    width: 100%;
}

#primary-slider-list{
    width: 100%;

    li{
        max-width: 100% !important;
        width: 100% !important;
    }
}

#secondary-slider-list{
    width: 100%;
    justify-content: flex-start !important;
    transform: translateX(0px) !important;
}
