.eshop-branding-wrapper{
	.personalise-product-list-wrapper{
		margin-bottom: 100px;
	}
    .right_col{
        .product-selection{
            padding-top: 16px;
            padding-bottom: 16px;
            .title{
                h4{
                    //styleName: text-lg/Bold;
                    font-family: Source Sans Pro;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 27px;

                }
                p{
                    font-family: Source Sans Pro;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }
        .personalise-product{
            display: flex;
            flex-direction: column;
            height:auto;
            width:auto;
            margin: 22px 40px 100px 24px;
            .form-field-full{
                height: 50%;
                .browse-box{
                    .browse-box-inner{
                        width: 100%;
                        height: 227px;
                        background: rgb(228 228 231 / 50%);
                        padding: 16px;
                        // opacity: 50%;
                        .browse-content{
                            width: 100%;
                            height: 195px;
                            background: rgba(228, 228, 231, 0.5);
                            border: 2px dashed rgba(0,0,0,0.1);
                            // opacity: 50%;
                            border-radius: 4px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            .browse-content-inner{
                                p{
                                    color: #9CA3AF;
                                }
                            }
                        }
                    }
                    #product-featur-img{
                        visibility: hidden;
                    }
                }
            }
        }
        .create-eshop-wrapper{
            width: 100%;
            height: 50%;
            display: flex;
            margin-top: 50px;
            .eshop-logo-wrapper{
                width: 40%;
                border-right: 1px solid rgba(0,0,0,0.1);
                .logo-preview{
                    .user-profile-preview-wrapper{
                        img{
                            width: 120px;
                            height: 120px;
                            object-fit: cover;
                        }
                    }
                }
                label{
                    display: flex !important;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: column;
                }
                #logo-feature-img{
                    visibility: hidden;
                }
                .image-title{
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 21px;
                    margin-top: 18px;
                    margin-bottom: 4px;
                }
                .image-size{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 150%;
                    display: none;
                    align-items: center;
                    color: #000000;
                    opacity: 0.5;
                }
            }
            .eshop-details-wrapper{
                width: 60%;
                margin-left: 65px;
                .form-group{
                    display: flex !important;
                    justify-content: flex-start;
                    align-items: flex-start;
                    label{
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 21px;
                        width:102px;
                        margin-right:8px;
                    }
                    .form-control{
                        height: 48px;
                    }
                    input, textarea, select, .color-list{
                        width: 416px;
                        border: 1px solid #A1A1AA;
                        border-radius: 4px;
                    }
                    textarea{
                        height: 70px;
                        width: 416px;
                        resize: none;
                    }
                    select{
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        background: url(../images/icons/down-arrow.svg);
                        background-position: right 10px center;
                        background-repeat: no-repeat;
                    }
                    .color-list{
                        border: none;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: flex-start;
                        .color-list-item{
                            width: 48px;
                            height: 48px;
                            margin-right: 4px;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 768px){
    .eshop-branding-wrapper{
        .right_col{
            .personalise-product{
                margin: 0;
                background: #F8F8F8;
            }
        } 
    }
}