#basic-info-col{
    display: none;
}

#basic-info-content{
    padding:0;
    .back-link{
        margin-top: 0px;
        padding: 16px;
        background: #FFFFFF;
        box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
        a{
            font-family: Noto Serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
            color: #27272A;
        }
    }

    .container{
        .account-cont{
            .profile-heading{
                a{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 150%;
                    color: #000000;
                }
            }
            .profile-wrapper{
                text-align: center;

                #logo-feature-img{
                    display: none;
                }
            }
        }
    }
}


@media screen and (min-width: 980px) and (max-width: 1300px){
    .influencer-pages-content-wrapper{
        #basic-info-content{
            .account-cont{
                .account-form{
                    .cus-select{
                        .select-box{
                            .select2-container{
                                width: 100% !important;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 980px){
    .influencer-pages-content-wrapper{
        #basic-info-content{
            .account-cont{
                .account-form{
                    .form-input-field{
                        width: 100%;
                    }
                    .cus-select{
                        .select-box{
                            .select2-container{
                                width: 100% !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .influencer-pages-content-wrapper{
        #basic-info-content{

            .container{
                max-width: 90%;
            }
            .account-cont{
                box-shadow: none;

                .profile-heading{
                    margin-bottom: 16px;
                }

                .account-form{
                    .form-input-field{
                        width: 100%;

                        #gender{
                            justify-content: space-between;
                            div{
                                margin-right: 0 !important;
                            }
                        }
                    }
                    .cus-select{
                        max-width: 100%;
                        flex: 0 0 100%;
                        margin: 0 0 30px 0;
                        .select-box{
                            .select2-container{
                                width: 100% !important;
                            }
                        }
                    }
                }
            }
        }
    }
}