.influencer-dashboard-2-page{
    #card-eShop{
        background-color: #5EEAD4 !important;
    }
    #card-social{
        background-color: #fff !important;
        display: flex;
        img{
            width: 48px;
            height: 48px;
            margin-right: 16px;
        }
        .card-flex{
            flex-direction: column !important;
            height: 50px;
            align-items: flex-start;
            justify-content: flex-start;
            h3{
                font-family: Source Sans Pro;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 36px;
            }
            .card-content{
                margin-top: 16px;
            }
            .card-list-item{
                width: 58px;
                height: 58px;
            }
            .card-list-item-link{
                text-align: center;
                img{
                    border:1.12211px solid #7A0D41;
                    border-radius: 50%;
                }
                
            }
        }
    }
}