@import "../modules/variables";

.influencer-dashboard-page{
	.right_col {
		.page-title{
		background: #F0F0F0;
			box-shadow:none;
	}
}
	
	
}
    .dashboard_container{
        width: 100%;
        
        .left_col{
            .scroll-view{
                #sidebar-menu{
                    .menu-close-button{
                        display:none;
                    }
                    .user-profile{
                        display:none;
                    }
                }
            }
        }

        .right_col{
            width: 100%;
            padding: 0 !important;
            .page-title{
                width: 100% !important;
                margin: 0 0 24px;
                padding: 16px !important;
                background: #FFFFFF;
                box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
                a{
                    // font-family: Noto Serif;
                    // font-style: normal;
                    // font-weight: 600;
                    // line-height: 150%;
                    // color: #3F3F46;
                    font-family: Noto Serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 150%;
                    color: #27272A;
                }                
            }
            .dashboard-inner{
                .dashboard-card-outr{
                    margin: 0 !important;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    .dashboard-card{
                        max-width: 100%;
                        h3{
							font-family: Noto Serif;
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                            // img{
                            //     // width: 40px;
                            //     // height: 40px;
                            // }

                        }
                        .common-button{
							
                            .white-bttn{
                                border-radius: 4px;
                            }
                        }
                    }
                    #card-eShop{
                        background-color: #5EEAD4 !important;
                    }
                    #card-social{
                        background-color: #FFC300;
                        display: flex;
                        img{
                            width: 48px;
                            height: 48px;
                            margin-right: 16px;
                        }
                        .card-flex{
                            flex-direction: column !important;
                            height: 125px;
                            align-items: flex-start;
                            justify-content: flex-start;
                            h3{
                                font-family: Source Sans Pro;
                                font-size: 24px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 36px;
                            }

                            p{
                                font-family: Noto Serif;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 150%;                                
                                color: #262626;
                            }
                        }
                        .full-button{
                            padding-left: 64px;
                            a{  
                                display: flex;
                                align-items: center;
                                span{
                                    width: 20px;
                                    height: 20px;
                                    display: flex;
                                    align-items: center;
                                    margin-left: 5px;
                                    img{
                                        width: 20px;
                                        height: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
                .product-section{
                    max-width: 100%;
                    display: flex;
                    padding: 0 24px;
                    .product-box{
                        max-width: 100%;
                        background-color: #fff;
                        box-shadow: none;
                        .product-box-inner{
                            .product-box-content{
                                position: relative;
                                display: flex;
                                background-color: #fff;
                                border-radius: 8px;
                                box-shadow: 0px 4px 6px rgb(0 0 0 / 10%);
                                height: 143px;
                                img{
                                    width: 50%;
                                    height: 143px;
                                    object-fit: cover;
                                    border-radius: 4.29783px 0px 0px 4.29783px;
                                }
                                .box-content{
                                    padding: 16px 8px;
                                }
                                .product-rating{
                                    width: 44px;
                                    height: 18px;
                                    background-color: #fff;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-evenly;
                                    position: absolute;
                                    right:50%;
                                    top:70%;
                                    border-radius: 2.14892px 0px 0px 2.14892px;
                                    .rating-title{
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 12.8935px;
                                        line-height: 140%;
                                        display: flex;
                                        align-items: center;
                                        letter-spacing: -0.053792px;
                                        color: #111827;
                                    }
                                    .rating-star{
                                        img{
                                            width: 10px;
                                            height: 10px;
                                        }
                                    }
                                }
                            }
                            
                        }
                    }
                }
				.c-title-wrapper{
					padding-left: 22px;
					margin-bottom: 24px;
					margin-top: 40px;
					h5{
						font-family: Source Sans Pro;
						font-style: normal;
						font-weight: bold;
						font-size: 18px;
						line-height: 150%;
						color: #3F3F46;
					}
				}
            }
        }
    }


@media screen and (min-width: 770px) and (max-width: 992px){
    .model-open{
        -ms-overflow-style: scrollbar;
            overflow: hidden;
            height: 100%;
    }
    .dashboard_container{
        width: 100%;
        .left_col{
            transform: translateX(-100%);
            transition: ease all 0.3s;
            will-change: transform;
            width: 50vw !important;
            height: 100vh;
            position: fixed;
            top:0;
            left:0;
            background-color: #fff;
            z-index: 99;
            
            &.show-sidebar{
                transform: translateX(0);
                transition: ease all 0.3s;
            }
            .scroll-view{
                #sidebar-menu{
                    transform: translateX(-100%);
                    transition: ease all 0.3s;
                    will-change: transform;
                    width: 50vw;
                    height: 100vh;
                    position: fixed;
                    top:0;
                    left:0;
                    background-color: #fff;
                    z-index: 100;
                    padding-top: 50px;
                    &.show-sidebar{
                        transform: translateX(0);
                        transition: ease all 0.3s;
                    }
                    .menu-close-button{
                        display: inline-block;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        background: transparent;
                        border: none;
                    }
                    .user-profile{
                        display:inline-block;
                        width: 100%;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        padding-left: 45px;
                        margin-bottom: 40px;
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 150%;
                        color: #27272A;
                        text-transform: capitalize;
                        border-radius: 50%;
                        img{
                            width: 64px;
                            height: 64px;
                            margin-right: 20px;
                            border-radius: 50%;
                        }

                        #user-name{
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 150%;
                            color: #27272A !important;
                        }
                    }
                    .menu_section{
                        h4{
                            display: none;
                        }
                        .side-menu{
                            li{
                                box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
                                width: 100%;
                                a{  
                                    padding-top: 16px;
                                    padding-bottom: 16px;
                                    padding-left: 20px;
                                    margin-bottom:0px;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    font-family: Source Sans Pro;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 16px;
                                    line-height: 150%;
                                    display: flex;
                                    align-items: flex-end;
                                    color: #27272A;
                                    img{
                                        margin-left: 32px !important;
                                        margin-right: 32px !important;
                                    }
                                    span{
                                        display: none;
                                    }
                                }
                            }

                            .sidebar-dropdown{
                                .sidebar-submenu{
                                    padding-left: 106px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .right_col{
            margin-left: 0;
        }
    }
}



@media screen and (max-width: $screen_768px){
    .model-open{
        -ms-overflow-style: scrollbar;
            overflow: hidden;
            height: 100%;
    }
    .message-wrapper{
        display: none !important;
    }
    .dashboard_container{
        width: 100%;
        .left_col{
            
            transform: translateX(-100%);
            transition: ease all 0.3s;
            will-change: transform;
            width: 80vw !important;
            height: 100vh;
            position: fixed;
            top:0;
            left:0;
            background-color: #fff;
            z-index: 99;
            &.show-sidebar{
                transform: translateX(0);
                transition: ease all 0.3s;
            }
            .scroll-view{
                #sidebar-menu{
                    transform: translateX(-100%);
                    transition: ease all 0.3s;
                    will-change: transform;
                    width: 80vw;
                    height: 100vh;
                    position: fixed;
                    top:0;
                    left:0;
                    background-color: #fff;
                    z-index: 100;
                    &.show-sidebar{
                        transform: translateX(0);
                        transition: ease all 0.3s;
                    }
                    .menu-close-button{
                        display: inline-block;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        background: transparent;
                        border: none;
                    }
                    .user-profile{
                        display:inline-block;
                        width: 100%;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        padding-left: 45px;
                        margin-bottom: 40px;
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 150%;
                        color: #27272A;
                        text-transform: capitalize;
                        border-radius: 50%;
                        img{
                            width: 64px;
                            height: 64px;
                            margin-right: 20px;
                            border-radius: 50%;
                        }

                        #user-name{
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 150%;
                            color: #27272A !important;
                        }
                    }
                    .menu_section{
                        h4{
                            display: none;
                        }
                        .side-menu{
                            li{
                                box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
                                width: 100%;
                                a{  
                                    padding-top: 16px;
                                    padding-bottom: 16px;
                                    padding-left: 20px;
                                    margin-bottom:0px;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    font-family: Source Sans Pro;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 16px;
                                    line-height: 150%;
                                    display: flex;
                                    align-items: flex-end;
                                    color: #27272A;
                                    img{
                                        margin-left: 32px !important;
                                        margin-right: 32px !important;
                                    }
                                    span{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.common-button{
	a{
		display: inline-block;
		width: 50%;
		
		&:nth-child(2){
			padding-left: 8px;
		}
		button{
			width: 100% !important;
			max-width: 100% !important;
			
		}
	}
}

.influencer-dashboard-page{
    .dashboard-inner {
        .product-section {
            .product-box{
                padding: 0px;
                background-color: transparent !important;
                background: none;
               .product-box-inner{
                    border: none;
                }
            }
        }
    }
}

// .sidebar-dropdown{
//     .sidebar-dropdown{
//         display: none;
//     }
// }

.influencer-pages-content-wrapper{
    .common-button{
        .white-bttn {
            padding: 5px 14px !important;
            transition: 0.2s;
            &:hover{
                transition: 0.2s;
                background-color: #7A0D41;
                color: #fff;
                a{
                    color: #fff;
                }
            }
            a{
                font-family: "Inter", sans-serif !important;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 150%;
                &:hover{
                    color: #fff;
                }
            }
            
        }
    }
}