#bank-setup{
    .page-title{
        background: #FFFFFF;
        box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
        a{
            padding: 16px;
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;            
            color: #3F3F46;
            font-family: Noto Serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;            
            color: #27272A;
            box-shadow: none;
        }   
        
        .breadcrumb{
            display: none;
        }
    }

    .bank-setup-form{
        margin-bottom: 32px;
    }
    .account-setup{
        margin-bottom: 20px;
        .button-sec{
            display: block;
            button{
                width: 97px;
                height: 40px;
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 150%;
                color: #FFFFFF;
            }
        }
    }
}