.refer-code-wrapper{
    .refer-code{
        // width:205px;
        // height: 72px;
        // background: #7A0D41;
        position: relative;
        h5{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 150%;
            text-align: center;
            letter-spacing: 0.14em;
            color: #FFFFFF;
        }
        .ecllipse{
            background: #E5E5E5;
            width:12px;
            height:18px;
            border-radius:50%;
        }
        #ecllipse-1{
            position: absolute;
            top:-5px;
            left:-5px;
        }
        #ecllipse-2{
            position: absolute;
            top:-5px;
            right:-5px;
        }
        #ecllipse-3{
            position: absolute;
            bottom:-5px;
            left:-5px;
        }
        #ecllipse-4{
            position: absolute;
            bottom:-5px;
            right:-5px;
        }
        img{
            width: 177px;
        }
        #line-1{
            position: absolute;
            top:4px;
            left:14px;
        }
        #line-2{
            position: absolute;
            bottom:4px;
            left:14px;
        }
        
    }
    .refer-code-copy-btn{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #A1A1AA;
    }
}

