.personalise-product-wrapper{
    .dashboard_container{
        margin-top:0;
    }
    .right_col{
        .personalise-product{
            width: 100%;
            background-color: #fff;
            border-radius: 8px;
            padding: 24px;
            display: flex;
            justify-content: space-between;
            .product-details{
                width: 50%;
                .form-group{
                    .form-control{
                        background-color: #F9FAFB !important;
                        border-radius: 8px;

                    }
                    textarea{
                        resize: none;
                    }
                }
                .input-group{
                    .input-group-prepend{
                        display: flex;
                        width: 132px;
                        height: 44px;
                        background-color: #F9FAFB !important;
                        .input-group-text{
                            width: 50px;
                            height: 44px;
                            //styleName: sm / Semibold;
                            font-family: Inter;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 20px;
                            letter-spacing: -0.09000000357627869px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: #F9FAFB;
                            border: none ;
                            border-top-left-radius: 4px;
                            border-bottom-left-radius: 4px;
                        }
                        #price{
                            width: 82px;
                            height: 44px;
                            background: #F9FAFB;
                            border-top-right-radius: 8px;
                            border-bottom-right-radius: 8px;
                            
                        }
                    }
                }
                .common-button{
                    justify-content: flex-start !important;
                    margin-top: 100px;
                    .purple-btn{
                        margin-right: 16px;
                        border-radius: 6px;
                    }
                    .white-bttn{
                        border-radius: 6px;
                    }
                }
            }
            .product-images{
                width: 42%;
                display: flex;
                flex-direction: column;
                margin-left: 32px;
                .product-image-list{
                    margin-top: 16px;
                    display: flex;
                    justify-content: space-between;
                    
                }
                #secondary-slider{
                    .splide__arrows{
                        display: none;
                    }
                    #secondary-slider-track{
                        #secondary-slider-list{
                            // transform: translateX(0) !important;
                            .splide__slide{
                                border: 0 !important;
                                cursor: pointer;
                            }
                            .product-image-list-item{
                                label{
                                    margin-bottom: 0 !important;
                                }
                            }
                        }
                    }
                }

                #error{
                    display:none;
                    margin-top: 10px;
                    color: red;
                    font-family: 'Source Sans Pro';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 250%;
                }
            }
			// .splide__arrows{
			// 	.splide__arrow--prev{
			// 		left: -25px;
			// 	}
			// 	.splide__arrow--next{
			// 	right: -25px;
			// 		}
			// }
        }
    }
}




@media screen and (max-width: 768px){

    .personalise-product-wrapper{
        .personalise-product{
            flex-direction: column-reverse;
            .product-images{
                margin-left:0 !important;
                width: 100% !important;
            }
        }
    }
}

.edit-eshop-product-wrapper{
    .input-group{ 
        width: 132px;
        input:disabled, input:read-only {
            background-color: rgba(0,0,0,0.05) !important;
        }
    }
    .form-group, .input-group ,  .product-images{
        margin-bottom: 24px;
        label{
           font-family: Inter;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 140%;
            color: #1F2937;
            margin-bottom: 12px;
        }
        input{
            height: 48px;
             background: #F9FAFB;
            border: 1px solid #D1D5DB;
            box-sizing: border-box;
            border-radius: 8px;
        }
        #product-price{
            border-radius: 0px 8px 8px 0;
            height: 44px;
            border: none;
            background-color: transparent;
        }
        .input-group-prepend{
            height: 44px ;
            background: #F9FAFB;
            border: 1px solid #D1D5DB;
            box-sizing: border-box;
            border-radius:  8px;
            .input-group-text{
                background: none !important;
                height: 43px !important;
                border-right: 1px solid #D1D5DB !important;
            }
        }
    }
   
       .submit-perdonalise{
           margin-left: 0px;
       }
    .splide__slide{
        border-radius: 5.54888px;
        background-color: #fff;
    }
    .is-active{
        border: none !important;
    }

    .splide__arrow{
        top: 58% !important; 
    }
    .splide__arrow--prev{
        left: -30px;
    }
    .splide__arrow--next{
        right: -26px;
    }
    .splide__pagination{
        display: none;
    }
    #primary-slider-list{
        .splide__slide{
            height: 278px !important;
            cursor: grab;
        }
    }
    #secondary-slider-track{
        margin-top: 23px;
        .splide__slide{
            width: 86px !important;
            height: 86px !important;
        }
    }
    #add-image + img{
        width: 86px !important;
        height: 86px !important;
        cursor: pointer;
    }
}

.splide__arrow--prev, .splide__arrow--next{
   svg{
    font-size: 8px;
   }
}


.influencer-pages-content-wrapper{

    .product-detail-cont{
        #primary-slider{
            cursor: grab;
            height: 436px;
            margin-bottom: 18px;
        }
        
        #primary-slider-track{
            height: 100%;
            border-radius: 8px;
        }
        
        #primary-slider-list{
            height: 100%;
            border-radius: 8px;
        }
        
        .slider_slide{
            height: 100% !important;
            border-radius: 8px;
            border: 0 !important;
            cursor: pointer;
        
            &.is-active{
                border: 0 !important;
            }
        }
    }
    
}

