.catalog-container {
    h3 {
    font-weight: 600;
    color: #000;
    font-size: 20px;
}

p{
    font-size: 16px;  
}
}

.catalog-page{
    padding: 0 24px;
    .select-top{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0 0 10px 0;

        h3{
            font-size: 20px;
            color:#000;
            font-weight:bold;
        }

        .button-catalog {
            display: flex;
            align-items: center;

            button{
                padding: 9px 20px;
                max-width: 160px;
                margin: 0 0 0 15px !important;
                width: auto;
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 150%;
                color: #FFFFFF;
                img{
                    width: 24px;
                    margin: -2px 10px 0 0;
                    height: 24px;
                }

                a{
                    color:#fff;
                }
            }

           input[type="date"] {
                padding: 2px 10px;
                margin: 0 0 0 15px;
                background: #fff;
                color: #333;
                text-transform: uppercase;
                cursor: pointer;
            }

            
        }
    }

    table {
        tr {
        background: #EDEFF5;
    }
    td{
        background: #fff;
        border-left: 0 !important;
        border-right: 0 !important;
        &:first-child{
            img{
                width: 48px;
                height: 48px;
                object-fit: cover;
                overflow: hidden;
                border-radius: 4px;
            }
        }

       
    }
    .green-txt{
        vertical-align: middle;
        button{
            cursor: pointer;
        }
    }
    .specification-sec + button{
        background: #333;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        padding: 8px 20px;
        margin: 0;
        border: none;
        border-radius: 4px;
        margin-bottom: 24px;
    }
}
.select-top.select-search{
    margin-bottom: 14px;
}
.select-top {

.search-panel {
    flex: 0 0 45%;
    border-radius: 4px;
    input {
    background-color: #fff;
    width: 100%;
    // color: #333;
    margin: 0;
    text-align: left;
    flex: 0 0 90%;
    max-width: 90%;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #3F3F46;

}
}



&.select-search{
    align-items: center;

    select{
        margin: 0 0 0 15px;
        background-color: #fff;
        color: #333;
    }
}
}
}

.earning-wrapper{
    .total-earning-wrapper{
        h4{
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 120%;
            color: #7A0D41;
            span{
                color: #000;
                font-size: 14px;
            }
        }
    }
}



.product-filter{
    .search-panel{
        flex: 0 0 30% !important;
        height: 40px;
        img{
            margin-bottom: 2px;
        }
        input{
            height: 100%;
        }
    }

    .filter-wrapper{
        .button-catalog{
            select{
                margin-left: 0 !important;
            }
            .multi-select-wrapper{
                .select2-selection{
                    .select2-selection__rendered{
                        li{
                            padding: 4px;
                            button{
                                padding: 4px;
                                margin: 0 !important;
                                font-size: 14px;
                            }
                            .select2-selection__choice__display{
                                padding-left: 16px;
                            }
                        }
                    }
                }
            }
        }

        .common-button{
            width:155px;
        }
    }
}


#productUpdateModal{
    #closebtn{
        border: 1px solid #7a0d41;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#productAddModal{
    #closebtn{
        border: 1px solid #7a0d41;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.color-list{
    border: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    background: #F8F8F8;
    border-bottom: solid 1px #A1A1AA;
    padding: 6px;
    min-height: 39px;
    .color-list-item{
        width: 10px;
        height: 10px;
        margin-right: 4px;
        margin-bottom: 4px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #F8F8F8;

        &.selected-color{
            border: 2px solid #7A0D41;
        }

        .fa-check{
            font-size: 12px;
        }
    }
}



@media screen and (max-width: 1300px){
    .catalog-page{
        .product-filter{
            flex-direction: column;
            align-items: flex-start !important;

            .search-panel{
                width: 400px;
                margin-bottom: 8px;
            }
        }
    }
}