.payment-page{
    .right_col{
        .breadcrumb-wrapper{
            background-color: #fff;
            height: 48px;
            box-shadow: 0px -1px 0px 0px #0000001a inset;
            .breadcrumb{
                height: 100%;
                li{
                    a{
                        font-family: Noto Serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 150%;
                        color: #111827;
                    }
                }
            }
        }

        .payment-container{
            background: #FFFFFF;
            box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            margin: 32px;

            .order-summary{
                background: #FFC300;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 16px 32px;
                margin-bottom: 40px;
                border-radius: 8px 8px 0 0;
                ul{
                    display: flex;
                    align-items: center;
                    li{ 
                        margin-right: 16px;
                        img{
                            width: 30px;
                            height: 30px;
                        }
                    }
                    .text{
                        font-family: Inter;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 19px;
                        letter-spacing: 0.1px;
                        color: #27272A;
                    }
                }

                h3{
                    font-family: Inter;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.1px;
                    color: #000000;
                    span{
                        font-family: Inter;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 19px;
                        letter-spacing: 0.1px;
                        color: #000000;
                    }
                }
            }

            .login-section{
                padding: 16px 32px;

                .login-header{
                    font-family: Noto Serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 150%;
                    color: #27272A;
                    margin-bottom: 24px;
                }

                .form-input-field{
                    margin-bottom: 40px;
                    .radio-input{
                        div{
                            label{
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 150%;
                                color: #3F3F46;
                            }
                        }
                    }
                }

                .input-field{
                    width: 50%;
                    label{
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 150%;
                        color: #27272A;
                        margin-bottom: 8px;
                    }
                    .phone-no-wrapper{
                        display: flex;
                        
                        #phone-codes{
                            width: 100px;
                        }

                        input{
                            width: 400px;
                            background: #FFFFFF;
                            font-family: Source Sans Pro;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 150%;
                            color: #27272A;
                            border: 0.5px solid #ccc;
                            padding: 0 8px;
                            &::-webkit-outer-spin-button,
                            &::-webkit-inner-spin-button {
                              -webkit-appearance: none;
                              margin: 0;
                            }

                            &::placeholder{
                                opacity: 0.6;
                                font-family: Source Sans Pro;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 150%;
                                color: #27272A;
                            }
                        }
                    }
                }

            }

            .btn-wrapper{
                padding: 16px;
                button{
                    font-family: Source Sans Pro;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                    color: #FFFFFF;
                    
                }
            }
        }
    }
}