.product-main{
    display: flex;
    justify-content: space-between;
    padding: 13px 0 0 0;

    .product-detail-cont {
        max-width: 48%;
        flex: 0 0 48%;

        .action-button{
            .delete-product{
                border-radius: 4px;
                border: 1px solid #7A0D41;
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 150%;
                color: #7A0D41;
            }
        }
        .edit-product{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;            
            color: #FFFFFF;
        }
        .browse-box {
            img {
            width: 100%;
            height: 436px;
            overflow: hidden;
            object-fit: cover;
            border-radius: 8px;
        }
    }

    .browse-items {
        display: flex;
        align-items: center;
        max-width: 570px;
        width: 100%;
        margin: 15px 0 0 0;
    
        .browse-ss {
            width: 100px;
            height: 100px;
            margin: 0 11px;
            border-radius: 8px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 4px;
                overflow: hidden;
            }
    
            @media screen and (max-width: 767px){
                margin: 0 4px;
            }
    
            
        }
    
        span{
            width: 40px;
            height: 40px;
            text-align: center;
            background: #e1e1e1;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: bold;
            margin: 0 5px 0 0;
    
            @media screen and (max-width: 767px){
                height: auto;
            }
        }
    }
    }

    .product-specification{
        max-width: 48%;
        flex: 0 0 48%;

        h2 {
            font-weight: 700;
            font-size: 29px;
            margin: 0 0 15px 0;
            line-height: 38px;
        }

        h3{
            font-size: 20px;
            font-weight: 700;
            margin: 0;

            label{
                font-size: 24px;
            font-weight: 600; 
            width: 100px;
            }

            b{
                font-size: 30px;
            }
        }
        .spec-row{
            display: flex;
            align-items: flex-start;
            margin: 25px 0 0 0;
            align-items: center;

            label{
                font-size: 16px;
                width: 73px;
                font-weight: 600;
                flex: 0 0 73px;
            }
            div{
                display: flex;
                align-items: flex-start;
            h3{
                font-size: 24px;
                font-weight: 600;
                margin: 0;
            }

            button{
                margin: 0 0 0 10px;
                background: #E0FFE5;
                border: 0.5px solid #219653;
                border-radius: 1px;
                color: #27AE60;
                font-size: 14px;
                padding: 2px 9px;
            }

            span{
                
                margin: 0 10px 0 0;
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 150%;
                color: #1D1F22;
            }

            .color-box{
                width: 40px;
                height: 40px;
                margin: 0 13px 13px 0;
            }

            .pink-volor {
                width: 40px;
                height: 40px;
                background: #FECACA;
                margin: 0 13px 0 0;
            }
            .orange-volor {
                width: 40px;
                height: 40px;
                background: #FDBA74;
                margin: 0 13px 0 0;
            }
            .blue-volor {
                width: 40px;
                height: 40px;
                background: #CCFBF1;
                margin: 0 13px 0 0;
            }
        }
        }

        .prod-desc {
            margin: 20px 0 0 0;

            label{
                font-size: 16px;
                width: 100px;
                font-weight: 600;
            }
        }

        .prod-spec{
            margin: 20px 0 0 0;

            label{
                font-size: 16px;
                width: 100%;
                font-weight: 600;
            }

            ul{
                margin: 10px 0 0 0;
                li{
                    display: block;
                    width: 100%;
                    margin: 0 0 10px 0;
                    padding: 0 0 0 15px;
                    position: relative;

                    &:before{
                        position: absolute;
                        left: 0;
                        width: 6px;
                        height: 6px;
                        background: #6A6A6A;
                        border-radius: 50%;
                        content: "";
                        top: 8px;
                    }
                }
            }

            .review-author {
                margin: 0 0 6px 0;

                span{
                    display: inline-block;
                    vertical-align: top;
                    width: 16px;
                    height: 16px;
                    margin: -1px 0 0 0;
                }
            }

            .date {
                margin: 0 0 10px 0;
                font-size: 14px;
            
                img {
                margin: 0 10px 0 0;
            }
         }
      }

      .common-button {
        margin: 38px 0 0 0;
    }

   }
}

#product-de{
	padding: 0 24px;
    padding-bottom: 50px;
}
.switch-check-box-wrapper{
    display: flex;
    align-items: center;
    margin-top: 41px;
    span{
        margin-right: 15px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #000;
    }
    input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
    }
    
    .label-switch {
        cursor: pointer;
        text-indent: -9999px;
        width: 32px;
        height: 17px;
        background: grey;
        display: block;
        border-radius: 100px;
        position: relative;
    }
    
    .label-switch:after {
        content: '';
        position: absolute;
        top: 1px;
        left: 5px;
        width: 15px;
        height: 15px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
        left: calc(100% - 31px);
//        transform: translateX(-100%);
    }
    
    input:checked + .label-switch {
        background: #2F80ED;
    }
    
    input:checked + .label-switch:after {
        left: calc(100% - 16px);
//        transform: translateX(-250%);
    }
    
    .label-switch:active:after {
        // width: 22px; 
    }
}

.view-review-btn-wrapper{
	margin-top: 10px;
	a{
		
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;
		text-align: center;
		color: #7A0D41;
	}
}
.product-detail-slider-wrapper{
		.carousel {
  position: relative;
  flex: 100%;
  width: 100%;
}
.carousel-item img {
  object-fit: cover;
	
}
#carousel-thumbs {
  background: rgba(255,255,255,.3);
  bottom: 0;
  left: 0;
//   padding: 0 20px;
  right: 0;
}
#carousel-thumbs img {
//   border: 5px solid transparent;
  cursor: pointer;
	
}
#carousel-thumbs img:hover {
  border-color: rgba(255,255,255,.3);
}
#carousel-thumbs .selected img {
  border-color: #fff;
}
.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}
	.carousel-control-prev, .carousel-control-next{
		background: #E5E7EB;
		border-radius: 100px;
		width: 48px;
		height: 48px;
		top: 25%;
		.carousel-control-prev-icon{
			background-image: url(../images/icons/left-arrow.svg);
			background-size: 10px;
		}
		.carousel-control-next-icon{
			background-image: url(../images/icons/left-arrow.svg);
			background-size: 10px;
			transform: rotate(180deg);



		}
		
			
	}
}
#productCarousel{
	
	.carousel-item img {
  object-fit: cover;
	width: 100%;
	height: 436px;
	border-radius: 8px; 
}
}
#carousel-thumbs{
	background:transparent !important;
	width: 100%;
	margin-top: 12px;
	.carousel-item{
		.row{
		justify-content: flex-start;
			.thumb{
                width: 100px;
                height: 90px;
                margin-right: 10px;
                margin-bottom: 10px;
				img{
					width: 100px;
					height: 90px;
					border-radius: 8px;
					object-fit: cover;
                    flex: 0 0 100px;
				}
			}
		}
	}
}



// Modal Styling //
#addBookDialog{
    padding-right: 0 !important;
    .modal-dialog{
        .modal-content{
            top: 100px;
            .modal-header{
                display: none;
            }
            .modal-body{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .modal-footer {
                justify-content: center;
                #closebtn{
                    // background-color: #efefef;
                    border: 1px solid #7a0d41;
                    height: 42px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}




.influencer-pages-content-wrapper{
    .add-product-page{
        .product-main{
            padding: 24px;
            padding-bottom: 80px;
            .product-detail-cont{
                #secondary-slider{
                    .splide__arrows{
                        display: none;
                    }

                    #secondary-slider-track{
                        #secondary-slider-list{
                            // transform: unset !important;

                            .splide__slide{
                                width: 100px !important;
                                height: 90px !important;
                                border-radius: 8px;
                                
                            }
                        }
                    }

                    .splide__pagination{
                        display: none;
                    }

                    
                }
            }
        }
    }
}



