//social-media-connections.html

#main-wrappper{
    background: unset;
    min-height: unset;
    padding-top: 0;
    margin-left: 240px;
    .back-link{
        background: #FFFFFF;
        box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
        a{
            padding: 16px;
            font-family: Noto Serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
            color: #27272A;
            
        }        
    }

    #account-icons{

        margin: 32px 16px 16px 16px;
        .account-list{
            display: flex;
            align-items: center;

            .account-list-item{
                width: 343px;
                height: 59px;
                background: #FFFFFF;
                box-shadow: 0px 5px 10px rgb(0 0 0 / 5%);
                border-radius: 4px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 16px;
                margin: 10px;
                >p{
                    font-family: Source Sans Pro;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                    color: #7A0D41;
                }
                a{
                    display: flex;
                    align-items: center;
                    img{
                        margin-right: 16px;
                    }
                    &.disconnected{
                        opacity: 0.5;
                    }
                }
            }
            .active{
                color: #16A34A !important;
            }
        }
    }

    .footer-login{
        display: none;
    }
}
