.left_col{
	position: fixed; 
	width: 240px !important;
	overflow: scroll;
	
} 
.left_col::-webkit-scrollbar {
	display: none;
}

.right_col {
    margin-left: 240px;

	.business-content-wrapper{
		padding: 0 24px;
		margin-bottom: 50px;
	}
}